<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jockey+One&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/dragdrop.css" rel="stylesheet" />
    <link href="~/js/dragdrop.js" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button"> Hasar Kayıtları</a>
                    </h5>
                </div>
                <div style="margin-left:5%;margin-right:5%" id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <br />
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Toplam Tutar</div>
                                15000
                            </div>
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Orjinal</div>
                                Parça
                                <span class="badge bg-primary rounded-pill">6</span>
                            </div>
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Boyalı</div>
                                Parça
                                <span class="badge bg-primary rounded-pill">5</span>
                            </div>
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Değişmiş</div>
                                Parça
                                <span class="badge bg-primary rounded-pill">2</span>
                            </div>
                        </li>
                    </ol>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <br />
        <br />
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button"> Hasar Kaydı Ekle</a>
                    </h5>
                </div>

                <div style="margin-left:5%;margin-right:5%" id="collapseOne" class="collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <br />
                    <div class="row">
                        <div class="col col-6">
                            <div class="list-group" id="myList">
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Arka Çamurluk</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Arka Kaput</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Arka Çamurluk</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Arka Kapı</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Ön Kapı</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Tavan</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Arka Kapı</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Ön Kapı</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Ön Çamurluk</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Motor Kaputu</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Ön Çamurluk</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Ön Tampon</button>
                                <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Arka Tampon</button>
                            </div>
                        </div>
                        <div class="col col-6">                           
                            <table style="text-align:center;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Parça</th>
                                        <th scope="col">Durumu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <br />
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>Orjinal</option>
                        <option value="2">Boyalı</option>
                        <option value="3">Değişmiş</option>
                    </select>                  
                    <br />
                    <button class="btn btn-primary" style="float:right; margin-top:1%;margin-bottom:3%;margin-left:2%;" type="submit">Kaydet</button>
                    <button type="button" style="float:right; margin-top:1%;margin-bottom:3%;" class="btn btn-secondary">Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function IsActive(button) {
            var element = button;
            if (element.classList.contains("active")) {
                element.classList.remove("active");
            }
            else {
                element.classList.add("active");
            }
        }
    </script>
</body>

</html>
