@{
    ViewData["Title"] = "Tramer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fuild p-5">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button"> Hasar Kayıtları</a>
                </h5>
            </div>
            <div style="margin-left:5%;margin-right:5%" id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <ol class="list-group list-group-numbered mb-2 mt-2">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Toplam Tutar</div>
                            15000
                        </div>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Orjinal</div>
                            Parça
                            <span class="badge bg-primary rounded-pill" style="color:white;">6</span>
                        </div>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Boyalı</div>
                            Parça
                            <span class="badge bg-primary rounded-pill" style="color:white;">5</span>
                        </div>
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Değişmiş</div>
                            Parça
                            <span class="badge bg-primary rounded-pill" style="color:white;">2</span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="accordion" class="mt-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button"> Hasar Kaydı Ekle</a>
                </h5>
            </div>

            <div style="margin-left:5%;margin-right:5%" id="collapseOne" class="collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="row mt-2">
                    <div class="col col-6">
                        <div class="list-group" id="myList">
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Arka Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Arka Kaput</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Arka Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Arka Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Ön Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Tavan</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Arka Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Ön Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Ön Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Motor Kaputu</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Ön Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Ön Tampon</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Arka Tampon</button>
                        </div>
                    </div>
                    <div class="col col-6">
                        <table style="text-align:center;" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Parça</th>
                                    <th scope="col">Durumu</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-5">
                    <select class="form-control col-md-12" aria-label="Default select example">
                        <option value="1" selected>Orjinal</option>
                        <option value="2">Boyalı</option>
                        <option value="3">Değişmiş</option>
                    </select>
                </div>
                <div class="row mt-3 mb-3" style="float:right;">
                    <button type="button" class="btn btn-success mr-3"><i class="fa-solid fa-plus"></i> Ekle</button>
                    <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function IsActive(button) {
        var element = button;
        if (element.classList.contains("active")) {
            element.classList.remove("active");
        }
        else {
            element.classList.add("active");
        }
    }
</script>

