@using Entity.DTO.MessageContent
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListMessageConentDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion

    AddMessageContentDTO addDto = new AddMessageContentDTO();

    EditMessageContentDTO editDto = new EditMessageContentDTO();
    editDto.ContentText = "test mesaj içeriği";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cmc1" aria-expanded="true" aria-controls="cmc1" role="button">Mesaj içerik Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addMessageContent">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cmc1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editMessageContent",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="delete",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Mesaj İçeriğini Sil", body="Mesaj içeriğini silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Mesaj İçeriğini Aktif Et", body="Mesaj İçeriğini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addMessageContent",modalTitle = "Yeni Mesaj İçeriği Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editMessageContent", modalTitle="Mesaj İçeriği Güncelle",dto=editDto})
