<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"      
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
	  autoReload="true" 
	  internalLogLevel="Info"  
	  internalLogFile="temp\internal-nlog.txt">

	<targets>
		<target name="dbhede"     
			xsi:type="Database"       
			connectionString="server=.;Database=CarTenderDB;Integrated Security=true;"     
			dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"       
			commandType="StoredProcedure"     
			commandText="[dbo].[NLog_AddEntry_p]"            >
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite"       layout="${callsite}" />
			<parameter name="@exception"      layout="${exception:tostring}" />
		</target>
	</targets>
	<rules>
		<logger name="Microsoft." maxlevel="Info" final="true" />
		<logger name="dbtest" minlevel="Trace" writeTo="dbhede" />
	</rules>
</nlog>