.EmailImage {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.EmailTextOne {
    color: rgba(0, 0, 0, 1);
    font-family: Jockey One;
    font-weight: Regular;
    font-size: 220%;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.EmailTextTwo {
    width: auto;
    height: 5%;
    color: rgba(0, 0, 0, 1);
    position: relative;
    font-family: Jockey One;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.EmailCard {
    position: absolute;
    width: 50%;
    height: 80%;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
