@using Entity.DTO.AdvertStatusHistory
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListAdvertStatusHistoryDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    AddAdvertStatusHistoryDTO addAdvertStatusHistoryDTO = new AddAdvertStatusHistoryDTO();
    addAdvertStatusHistoryDTO.AdvertStatus = new List<string>() { "hede", "bidi" };


    EditAdvertStatusHistoryDTO editAdvertStatusHistoryDTO = new EditAdvertStatusHistoryDTO();
    editAdvertStatusHistoryDTO.AdvertStatus = new List<string>() { "hede", "bidi" };
    editAdvertStatusHistoryDTO.AdvertNo = "I-12345";
    editAdvertStatusHistoryDTO.Info = "İlan ilk kez gösterime girdi.";

    // todo: table üzerinde ilan no ile arama olsa güzel olur. (BaseTable içerisinde bu var ama orası değişirse buradan eklemeyi unutmayalım.)

}
<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cadvertsh1" aria-expanded="true" aria-controls="cadvertsh1" role="button">İlanlar Statü Geçmişi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addAdvertStatus">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cadvertsh1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editAdvertStatus",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="deleteAdvertStatus",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "İlan Statüsü Geçmişi Sil", body="İlan statü bilgisini silmek istediğinize emin misiniz?", id="deleteAdvertStatus"})
@await Component.InvokeAsync("ActivationModal", new{title = "İlan Statü Aktif Et", body="Statüyü aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("EditModal", new {modalID="editAdvertStatus", modalTitle="İlan Statü Güncelle",dto=editAdvertStatusHistoryDTO})
@await Component.InvokeAsync("AddModal", new{ModalID = "addAdvertStatus",modalTitle = "İlan Statü Ekle", dto = addAdvertStatusHistoryDTO})
