    <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        Admin Panel - @ViewData["Title"]
    </title>
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.css" />
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Index">
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>
            <li><hr class="sidebar-divider my-0"></li>

            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Admin</span>
                </a>
            </li>

            <li><hr class="sidebar-divider"></li>

            <li class="nav-item active">
                <a class="nav-link" asp-controller="Generic"
                   asp-action="ListItems"
                   asp-route-modelName="DenemeDTO">
                    <i class="fa-light fa-car"></i>
                    <span>Arac Listele - Generic</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2"
                   aria-expanded="true" aria-controls="collapse2">
                    <i class="fas fa-fw fa-car"></i>
                    <span>Araç</span>
                </a>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Araç Sayfaları:</h6>
                        <a class="collapse-item" href="/Car/Index">Araç Listele</a>
                        <a class="collapse-item" href="/Car/Add">Araç Ekle</a>
                        <a class="collapse-item" href="/Car/Edit">Araç Güncelle</a>
                        <a class="collapse-item" href="/Car/BrandModel">Marka Model</a>
                        <a class="collapse-item" href="/Car/Detail">Detay</a>
                        <a class="collapse-item" href="/Car/CarDetail">Araç Parçaları</a>
                        <a class="collapse-item" href="/Car/CarImage">Araç Fotoğraf</a>
                        <a class="collapse-item" href="/Car/CarModification">Araç Modifiye</a>
                        <a class="collapse-item" href="/CarSaleHistory/Index">Araç Satış Tarihçe</a>
                        <a class="collapse-item" href="/CarStatusHistory/Index">Araç Statü Tarihçe</a>
                        <a class="collapse-item" href="/Car/CarCommission">Araç Komisyon</a>
                        <a class="collapse-item" href="/Car/CarBuyerInformation">Araç Alıcı Bilgileri</a>
                    </div>
                </div>
            </li>

            <li><hr class="sidebar-divider"></li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
                   aria-expanded="true" aria-controls="collapse3">
                    <i class="fas fa-fw fa-book"></i>
                    <span>İhale</span>
                </a>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">İhale Sayfaları:</h6>
                        <a class="collapse-item" href="/Bid/ListBid">İhale Listele</a>
                        <a class="collapse-item" href="/Bid/Create">İhale Ekle</a>
                        <a class="collapse-item" href="/Bid/Edit">İhale Güncelle</a>
                        <a class="collapse-item" href="/Bid/BidCorporateUser">Kurumsal Kullanıcı Teklif</a>
                        <a class="collapse-item" href="/Bid/ListBid"></a>
                        <a class="collapse-item" href="/Bid/ListBid"></a>
                    </div>
                </div>
            </li>

            <li><hr class="sidebar-divider"></li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4"
                   aria-expanded="true" aria-controls="collapse4">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Statü</span>
                </a>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Statü Sayfaları:</h6>
                        <a class="collapse-item" href="/Status/Index">Statü</a>
                    </div>
                </div>
            </li>

            <li><hr class="sidebar-divider"></li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5"
                   aria-expanded="true" aria-controls="collapse5">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>İlçe</span>
                </a>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">İlçe Sayfaları:</h6>
                        <a class="collapse-item" href="/Town/Index">İlçe</a>
                    </div>
                </div>
            </li>


            <li><hr class="sidebar-divider"></li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse6"
                   aria-expanded="true" aria-controls="collapse6">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Tramer</span>
                </a>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tramer Sayfaları:</h6>
                        <a class="collapse-item" href="/Tramer/Index">Tramer</a>
                    </div>
                </div>
            </li>

            <li><hr class="sidebar-divider"></li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse7"
                   aria-expanded="true" aria-controls="collapse7">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Kullanıcı</span>
                </a>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Kullanıcı Sayfaları:</h6>
                        <a class="collapse-item" href="/User/Index">Kullanıcılar</a>
                        <a class="collapse-item" href="/User/UserCar">Kullanıcı Araçları</a>
                        <a class="collapse-item" href="/User/UserFavoriteCar">Kullanıcı Favori Araçları</a>
                    </div>
                </div>
            </li>

            <li><hr class="sidebar-divider d-none d-md-block"></li>

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Kullanıcı Adı</span>
                                <img class="img-profile rounded-circle"
                                     src="~/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ayarlar
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                @RenderBody()
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış yapmak ister misiniz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Mevcut oturumunuzu bitirmeye hazırsanız, aşağıdan "Çıkış"ı seçin.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary">Çıkış</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/fc-4.1.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>