@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int statusCode = 400;
    string errorTitle = "", errorContent = "";
    if (ViewBag.StatusCode != null)
        statusCode = ViewBag.StatusCode;
    if (ViewBag.ErrorTitle != null)
        errorTitle = ViewBag.ErrorTitle;
    if (ViewBag.ErrorContent != null)
        errorContent = ViewBag.ErrorContent;
}

<div class="container-fluid">

    <!-- Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="@statusCode">@statusCode</div>
        <p class="lead text-gray-800 mb-5">@errorTitle</p>
        <p class="text-gray-500 mb-0">@errorContent</p>
        <a href="/Admin/Index">&larr; Ana Sayfaya Geri Dön</a>
    </div>

</div>