@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<main>
    @*<div class="container-xl px-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <img class="img-fluid p-4" src="~/img/lord-voldemort.gif" />
                    <p class="lead">Your client has issued a malformed or illegal request.</p>
                    <a class="text-arrow-icon" href="/Admin/Index">
                        <i class="ms-0 me-1" data-feather="arrow-left"></i>
                        Return to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>*@

    <div class="card mb-4">
        <div class="card-header d-flex align-items-center">
            <div class="text-center mt-4">
                <img class="img-fluid p-4" src="~/img/lord-voldemort.gif" />
            </div>
            <a class="btn btn-transparent-dark btn-icon" href="knowledge-base-category.html"><i data-feather="arrow-left"></i></a>
            <div class="ms-3"><h2 class="my-3">@Model.Header /// @Model.StatusCode</h2></div>
        </div>
        <div class="card-body">
            <p class="lead">@Model.Message</p>
            <a class="text-arrow-icon" href="/Admin/Index">
                <i class="ms-0 me-1" data-feather="arrow-left"></i>
                Return to Dashboard
            </a>
        </div>
    </div>
</main>