<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Forgot Password Page</title>
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jockey+One&display=swap" rel="stylesheet" />
    <link href="~/Content/MyCss/ForgotPassword/ForgotPassword.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

@RenderBody()
<body>
    <div class="ForgotPasswordInputs">
        <span class="TextOne">Şifrenizi Mi Unuttunuz?</span>
        <input class="ForgotPasswordEmail" type="email" placeholder="Email adresi:" />
        <input class="ForgotPasswordResetPw" type="button" value="Şifreyi Sıfırla" />
        <a href="~/Auth/Login" class="ForgotPasswordBackLogin">Giriş Ekranına Geri Dön</a>
    </div>
    <div class="ImageLayer">
        <img src="~/Content/Images/Forgot Password.png" class="FPImage" />
    </div>
</body>

</html>