@using Entity.DTO.Advert
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListAdvertDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    AddAdvertDTO addAdvertDTO = new AddAdvertDTO();

    EditAdvertDTO editAdvertDTO = new EditAdvertDTO();
    editAdvertDTO.CarPlate = "16 E 555";
    editAdvertDTO.Title = "Hede";
    editAdvertDTO.PreliminaryPrice = 255000;
    editAdvertDTO.Price = 280000;
    editAdvertDTO.Info = "Hede ilanı detayları için bize ulaşabilirsiniz.";

    // todo: ilan detayına gidildiğinde araç bilgilerinin de görüldüğü kapsamlı bir ilan sayfası olmalı. Şuanlık ilan detay sayfası yok.
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cadvertindex1" aria-expanded="true" aria-controls="cadvertindex1" role="button">İlanlar</a>
                </h5>
            </div>
            <div id="cadvertindex1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">

                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editAdvert",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="deleteAdvert",
                    TableHeads=heads,
                    TableDatas=datas
                    })

                </div>
            </div>
        </div>
    </div>
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="hadvertindex3">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cadvertindex3" aria-expanded="true" aria-controls="cadvertindex3" role="button"> İlan Ekle</a>
                </h5>
            </div>
            <div id="cadvertindex3" class="collapse collapse p-5" aria-labelledby="hadvertindex3" data-parent="#accordion">
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Araç Plakası</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">İlan Başlığı</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">İlan Açıklama</span>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="resize:none;"></textarea>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Ön Değerlendirme Fiyatı:</span>
                    <input type="number" class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">TL</span>
                    </div>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Fiyatı:</span>
                    <input type="number" class="form-control" />
                    <div class="input-group-append">
                        <span class="input-group-text">TL</span>
                    </div>
                </div>
                <button class="btn btn-primary" style="float:right;" type="submit"><i class="fa-regular fa-floppy-disk"></i> Kaydet</button>
            </div>
        </div>
    </div>

    @* todo: Bu kısım şuanlık gereksiz geldi bana. Konuşuruz eğer gereksiz ise sileriz.*@
    @*<div id="accordion">
    <div class="card">
    <div class="card-header" id="headingOne">
    <h5 class="mb-0">
    <a class="btn btn-light" data-toggle="collapse" data-target="#cadvertindex2" aria-expanded="true" aria-controls="cadvertindex2" role="button">İlan Görüntüle</a>
    </h5>
    </div>
    <div id="cadvertindex2" class="collapse show p-5" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="input-group mb-4">
    <span class="input-group-text" id="inputGroup-sizing-default">İlan Başlığı:</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-4">
    <span class="input-group-text" id="inputGroup-sizing-default">İlan Açıklama:</span>
    <textarea class="form-control" id="exampleFormControlTextarea1" style="resize:none;" rows="3"></textarea>
    </div>
    <div class="input-group mb-4">
    <span class="input-group-text" id="inputGroup-sizing-default">Ön Değerlendirme Fiyatı:</span>
    <input type="text" class="form-control" />
    <div class="input-group-append">
    <span class="input-group-text">TL</span>
    <span class="input-group-text">0.00</span>
    </div>
    </div>
    <div class="input-group mb-4">
    <span class="input-group-text" id="inputGroup-sizing-default">Fiyatı:</span>
    <input type="text" class="form-control" />
    <div class="input-group-append">
    <span class="input-group-text">TL</span>
    <span class="input-group-text">0.00</span>
    </div>
    </div>
    <div class="col-md-9 col-sm-0"></div>
    <div class="col-md-3 col-sm-12" style="float:right;">
    <button class="btn btn-info btn-block" style="background-color: #2E86C1 ;" type="button"><i class="fa-solid fa-list" style="color:white;"></i>  Görüntüle</button>
    </div>
    </div>
    </div>
    </div>*@
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "İlan Sil", body="İlanı silmek istediğinize emin misiniz?", id="deleteAdvert"})
@await Component.InvokeAsync("ActivationModal", new{title = "İlan Aktif Et", body="İlanı aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("EditModal", new {modalID="editAdvert", modalTitle="İlan Güncelle",dto=editAdvertDTO})
