@using Entity.DTO.AdvertStatusHistory
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddAdvertStatusHistoryDTO addAdvertStatusHistoryDTO = new AddAdvertStatusHistoryDTO();
    addAdvertStatusHistoryDTO.AdvertStatus = new List<string>() {"hede","bidi"};


    EditAdvertStatusHistoryDTO editAdvertStatusHistoryDTO = new EditAdvertStatusHistoryDTO();
    editAdvertStatusHistoryDTO.AdvertStatus = new List<string>() { "hede", "bidi" };
    editAdvertStatusHistoryDTO.AdvertNo = "I-12345";
    editAdvertStatusHistoryDTO.Info = "İlan ilk kez gösterime girdi.";

    // todo: table üzerinde ilan no ile arama olsa güzel olur. (BaseTable içerisinde bu var ama orası değişirse buradan eklemeyi unutmayalım.)

}
<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cadvertsh1" aria-expanded="true" aria-controls="cadvertsh1" role="button">İlanlar Statü Geçmişi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addAdvertStatus">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cadvertsh1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">İlan Bilgileri</th>
                                <th scope="col">Statü</th>
                                <th scope="col">Açıklama</th>
                                <th scope="col">Güncellenme Tarihi</th>
                                <th scope="col">Güncelleyen Kişi</th>
                                <th scope="col">Güncelleme</th>
                                <th scope="col">Silme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>İlanlar</td>
                                <td>Satışta</td>
                                <td>Yeni</td>
                                <td>05.10.2022</td>
                                <td>Sarp</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editAdvertStatus"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteAdvertStatus"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>İlanlar</td>
                                <td>Satıldı</td>
                                <td>Eski</td>
                                <td>06.10.2022</td>
                                <td>Ahmet</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editAdvertStatus"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteAdvertStatus"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "İlan Statüsü Geçmişi Sil", body="İlan statü bilgisini silmek istediğinize emin misiniz?", id="deleteAdvertStatus"})
@await Component.InvokeAsync("ActivationModal", new{title = "İlan Statü Aktif Et", body="Statüyü aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("EditModal", new {modalID="editAdvertStatus", modalTitle="İlan Statü Güncelle",dto=editAdvertStatusHistoryDTO})
@await Component.InvokeAsync("AddModal", new{ModalID = "addAdvertStatus",modalTitle = "İlan Statü Ekle", dto = addAdvertStatusHistoryDTO})
