@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> editModalLabelStrs = new List<string>();
    editModalLabelStrs.Add("asdasd");
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#caddressindex1" aria-expanded="true" aria-controls="caddressindex1" role="button">Mahalleler</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addStatus">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="caddressindex1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">        
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Mahalle</th>
                                <th scope="col">Aktif/Pasif</th>
                                <th scope="col">Versiyon</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AAAAAAAAAAAAAA</td>
                                <td>Aktif</td>
                                <td>v1</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editAddress"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteAddress"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Mahalle Sil", body="Mahalleyi silmek istediğinize emin misiniz?", id="deleteAddress"})
@await Component.InvokeAsync("ActivationModal", new{title = "Mahalle Aktif Et", body="Mahalleyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("EditModal", new {modalID="editAddress", modalTitle="Mahalle Güncelle",labelStrs=editModalLabelStrs})


<div class="modal fade" id="addStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mahalle Ekle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Mahalle Adı:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Aktif/Pasif:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Versiyon:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Ekle</button></div>
        </div>
    </div>
</div>

