@using CT.AdminUI.Models.BaseTableDTOs
@model BaseTableDTO
@{
}

<div>
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    @foreach (var item in Model.TableHeads)
                    {
                        <th>@item</th>
                    }
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableDatas)
                {
                    <tr>
                        @foreach (var detail in item.GetType().GetProperties())
                        {
                            <td>@item.GetType().GetProperty(detail.Name).GetValue(item)</td>
                        }
                        @if (Model.EditIsModal)
                        {
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#@Model.EditBtnModalID">
                                    <i class="far fa-trash-alt"></i>
                                    Güncelle
                                </button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-warning" asp-controller="@Model.EditBtnController" asp-action="@Model.EditBtnAction"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</a>
                            </td>
                        }
                        <td>
                            <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#@Model.DeleteBtnModalID">
                                <i class="far fa-trash-alt"></i>
                                Sil
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
