body {
    height: 100vh;
}

.ForgotPasswordInputs {
    position: absolute;
    width: 40%;
    height: 100vh;
    background-color: #0FB79F;
}

.TextOne {
    position: relative;
    color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.InputsCard {
    position: relative;
    width: 75%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.InputsCardDesign {
    width: auto;
    height: auto;
    position: relative;
    top: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ImageLayer {
    position: relative;
    width: 60%;
    height: 100%;
    margin: auto;
    float: right;
}
