.ForgotPasswordInputs {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #0FB79F;
}

.TextOne {
    position: relative;
    color: black;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Jockey One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.ForgotPasswordEmail {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 30%;
    width: 70%;
    height: 5%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

.ForgotPasswordResetPw {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 35%;
    width: 70%;
    height: 5%;
    background: #FCB510;
    border-radius: 10px;
    border: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: auto;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}

.ForgotPasswordBackLogin {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 37%;
    width: 70%;
    height: 5%;
    background: rgba(52, 152, 219, 0.85);
    border-radius: 10px;
    border: none;
    font-family: 'Arial';
    font-style: normal;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

    .ForgotPasswordBackLogin:hover {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        top: 37%;
        width: 70%;
        height: 5%;
        background: rgba(52, 152, 219, 0.85);
        border-radius: 10px;
        border: none;
        font-family: 'Arial';
        font-style: normal;
        font-size: 22px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }

.ImageLayer {
    position: relative;
    width: 58%;
    height: 100%;
    margin: auto;
    float: right;
}

.FPImage {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
