@using Entity.DTO.Role
@using Entity.DTO.RoleAuthorization
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddRoleDTO addRoleDTO = new AddRoleDTO();

    EditRoleDTO editRoleDTO = new EditRoleDTO();
    editRoleDTO.Name = "Tester";

    AddAuthorizationDTO addAuthorizationDTO = new AddAuthorizationDTO();

    EditAuthorizationDTO editAuthorizationDTO = new EditAuthorizationDTO();
    editAuthorizationDTO.Name = "Tamemen Sil";

    // todo: Rol eklerken veya güncellerken o rolün sahip olduğu yetkilere de müdahale edilmeli. Şuanlık bu yok, eklenecek.
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cauthindex1" aria-expanded="true" aria-controls="cauthindex1" role="button">Roller</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addRole">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cauthindex1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Kullanıcı Rolleri</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SuperAdmin</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Admin</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Moderatör</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>CEO</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Satış Departmanı</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>İnsan Kaynakları</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Bölge Sorumlusu</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Bireysel Kullanıcı</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editRole"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteRole"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cauthindex2" aria-expanded="true" aria-controls="cauthindex2" role="button">Yetkiler</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addAuthorization">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cauthindex2" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">         
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Yetkiler</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Listele</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editAuthorization"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteAuthorization"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ekle</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editAuthorization"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteAuthorization"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sil</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editAuthorization"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteAuthorization"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Düzenle</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editAuthorization"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteAuthorization"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Yetki Sil", body="Yetkiyi silmek istediğinize emin misiniz?", id="deleteAuthorization"})
@await Component.InvokeAsync("DeleteModal", new{title = "Rol Sil", body="Rolü silmek istediğinize emin misiniz?", id="deleteRole"})
@await Component.InvokeAsync("ActivationModal", new{title = "Yetki Aktif Et", body="Yetkiyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addRole",modalTitle = "Yeni Rol Ekle", dto = addRoleDTO})
@await Component.InvokeAsync("EditModal", new {modalID="editRole", modalTitle="Rol Güncelle",dto=editRoleDTO})
@await Component.InvokeAsync("AddModal", new{ModalID = "addAuthorization",modalTitle = "Yeni Yetki Ekle", dto = addAuthorizationDTO})
@await Component.InvokeAsync("EditModal", new {modalID="editAuthorization", modalTitle="Yetki Güncelle",dto=editAuthorizationDTO})
