@using Entity.DTO.Tramer
@using Entity.DTO.TramerComponent
@{
    ViewData["Title"] = "Tramer";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // todo: tramer edit eklenecek

    #region heads and datas

    List<string> headsTramer = new List<string>();
    List<object> datasTramer = new List<object>();

    foreach (var item in typeof(ListTramerDTO).GetProperties())
    {
        headsTramer.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model.Tramers)
    {
        datasTramer.Add(item);
    }
    #endregion

    #region heads and datas

    List<string> headsTramerComponent = new List<string>();
    List<object> datasTramerComponent = new List<object>();

    foreach (var item in typeof(ListTramerComponentDTO).GetProperties())
    {
        headsTramerComponent.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model.TramerComponents)
    {
        datasTramerComponent.Add(item);
    }

    #endregion

    AddTramerComponentDTO addDto = new AddTramerComponentDTO();

    EditTramerComponentDTO editDto = new EditTramerComponentDTO();
    editDto.Name = "Sol ön far";
    editDto.CreatedBy = "Ahmet Osman";
    editDto.CreatedDate = DateTime.Now;
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button">Tramerler</a>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="deleteTramer",
                    TableHeads=headsTramer,
                    TableDatas=datasTramer
                    })
                </div>
            </div>
        </div>
    </div>

    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">Tramer Ekle</a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse collapse p-5" aria-labelledby="headingOne" data-parent="#accordion">
                <div>
                    <div class="input-group mb-3 col-md-12">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Araba Plakası:</label>
                        </div>
                        <input type="text" value="" class="form-control col-md-12" />
                    </div>
                    <div class="input-group mb-3 col-md-12">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Kayıt Eden:</label>
                        </div>
                        <input type="text" value="" class="form-control col-md-12" />
                    </div>
                    <div class="input-group mb-3 col-md-12">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Kayıt Tarihi:</label>
                        </div>
                        <input type="date" value="" class="form-control col-md-12" />
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col col-6">
                        <div class="list-group" id="myList">
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Arka Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Arka Kaput</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Arka Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Arka Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Ön Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Tavan</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Arka Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Ön Kapı</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sağ Ön Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Motor Kaputu</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Sol Ön Çamurluk</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Ön Tampon</button>
                            <button type="button" class="list-group-item list-group-item-action" onclick="IsActive(this)">Arka Tampon</button>
                        </div>
                    </div>
                    <div class="col col-6">
                        <table style="text-align:center;" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Parça</th>
                                    <th scope="col">Durumu</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-5">
                    <select class="form-control col-md-12" aria-label="Default select example">
                        <option value="1" selected>Orjinal</option>
                        <option value="2">Boyalı</option>
                        <option value="3">Değişmiş</option>
                    </select>
                </div>
                <div class="row mt-3 mb-3" style="float:right;">
                    <button type="button" class="btn btn-success mr-3"><i class="fa-solid fa-plus"></i> Ekle</button>
                    <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo" role="button">Tramer Bileşenleri</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addCmp">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse show p-3" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable2",
                    EditIsModal = true,
                    EditBtnModalID = "editCmp",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="deleteCmp",
                    TableHeads=headsTramerComponent,
                    TableDatas=datasTramerComponent
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Trameri Sil", body="Tramer bilgisini silmek istediğinize emin misiniz?", id="deleteTramer"})
@await Component.InvokeAsync("DeleteModal", new{title = "Tramer Bileşenini Sil", body="Tramer bileşenini silmek istediğinize emin misiniz?", id="deleteCmp"})
@await Component.InvokeAsync("ActivationModal", new{title = "Trameri Aktif Et", body="Trameri aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("ActivationModal", new{title = "Tramer Bileşenini Aktif Et", body="Tramer bileşenini aktif hale getirmek istediğinize emin misiniz?", id="activation2"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addCmp",modalTitle = "Tramer Bileşeni Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editCmp", modalTitle="Tramer Bileşenini Güncelle",dto=editDto})

<div class="modal fade" id="detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tramer Detay</h5>
                <button type="button" class="btn-close btn-circle btn-sm btn-dark" onclick="$('#detail').modal('hide');" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="modal-body col-md-12">
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Arka Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp1">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Ön Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp2">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Arka Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp3">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Ön Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp4">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Arka Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp5">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Ön Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp6">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Arka Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp7">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Ön Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp8">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Tavan:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp9">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Arka Kaput:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp10">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Motor Kaputu:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp11">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Ön Tampon:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp12">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Arka Tampon:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp13">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#statusHistory">Geçmiş</button>
                </div>
                <div>
                    <button class="btn btn-info" onclick="EnableComponents()" type="button">Düzenle</button>
                    <button class="btn btn-primary" type="button">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="statusHistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tramer Bileşen Geçmişi</h5>
                <button type="button" class="btn-close btn-circle btn-sm btn-dark" onclick="$('#statusHistory').modal('hide');" aria-label="Close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="modal-body col-md-12">
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Bileşen</th>
                                <th>Statü</th>
                                <th>Not</th>
                                <th>Düzenleyen</th>
                                <th>Düzenleme Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sağ Ön Çamurluk</td>
                                <td>Boyalı</td>
                                <td>Araç sürtmesinden dolay boyalı.</td>
                                <td>Ahmet</td>
                                <td>06.10.2022</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button">Ekle</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function IsActive(button) {
        var element = button;
        if (element.classList.contains("active")) {
            element.classList.remove("active");
        }
        else {
            element.classList.add("active");
        }
    }
</script>
<script type="text/javascript">
    function EnableComponents() {
        document.getElementById('cmp1').disabled = false;
        document.getElementById('cmp2').disabled = false;
        document.getElementById('cmp3').disabled = false;
        document.getElementById('cmp4').disabled = false;
        document.getElementById('cmp5').disabled = false;
        document.getElementById('cmp6').disabled = false;
        document.getElementById('cmp7').disabled = false;
        document.getElementById('cmp8').disabled = false;
        document.getElementById('cmp9').disabled = false;
        document.getElementById('cmp10').disabled = false;
        document.getElementById('cmp11').disabled = false;
        document.getElementById('cmp12').disabled = false;
        document.getElementById('cmp13').disabled = false;
    }
</script>
