@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button"> Alıcı Görüntüle</a>
                </h5>
            </div>

            <div style="margin-left:5%;margin-right:5%" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <br />
                <div class="input-group">
                    <span class="input-group-text">Ad ve Soyad</span>
                    <input type="text" aria-label="Ad" class="form-control">
                    <input type="text" aria-label="Soyad" class="form-control">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Mail </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Telefon </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Satın Alma Tarihi </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="col-md-9 col-sm-0"></div>
                <div class="col-md-3 col-sm-12" style="float:right;">
                    <button class="btn btn-info btn-block" style="background-color: #2E86C1 ; float:right; margin-top:1%;margin-bottom:3%;" type="button"><i class="fa-solid fa-list" style="color:white;"></i>  Görüntüle</button>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button"> Alıcı Ekle</a>
                </h5>
            </div>
            <div style="margin-left:5%;margin-right:5%" id="collapseTwo" class="collapse collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <br />
                <div class="input-group">
                    <span class="input-group-text">Ad ve Soyad</span>
                    <input type="text" aria-label="Ad" class="form-control">
                    <input type="text" aria-label="Soyad" class="form-control">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Mail </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Telefon </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Satın Alma Tarihi </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <button class="btn btn-primary" style="float:right; margin-top:1%;margin-bottom:3%;" type="submit"><i class="fa-regular fa-floppy-disk"></i> Kaydet</button>
            </div>
        </div>
    </div>
</div>

