@using Entity.DTO.User
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddUserDTO addDto = new AddUserDTO();

    EditUserDTO editDto = new EditUserDTO();
    editDto.Email = "Ahmet@gmail.com";
    editDto.Name = "Ahmet Osman";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">Kullanıcılar</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addUser">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show p-3" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <div class="mb-3">
                        <a class="btn btn-success" data-toggle="modal" data-target="#addStatus" href="#"><i class="fa-solid fa-plus"></i> Onaylı Kullanıcıları Göster</a>
                        <a class="btn btn-warning" data-toggle="modal" data-target="#addStatus" href="#"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Onay Bekleyen Kullanıcıları Göster</a>

                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Kullanıcı Adı</th>
                                <th scope="col">Ad Soyad</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">E-posta</th>
                                <th scope="col">Kullanıcı Türü</th>
                                @*<th scope="col">E-Posta Onayı</th>
                                <th scope="col">Admin Onayı</th>
                                <th scope="col">KVKK Onayı</th>
                                <th scope="col">Açıklama</th>*@
                                <th scope="col">Onaylayan Kullanıcı</th>
                                <th scope="col">Kayıt Tarihi</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ahmetosmn</td>
                                <td>Ahmet Osman Sezgin</td>
                                <td>5054545151351</td>
                                <td>ahmet@sezgin.com</td>
                                <td>Bireysel</td>
                               @* <td>Evet</td>
                                <td>Evet</td>
                                <td>Evet</td>
                                <td></td>*@
                                <td>Admin</td>
                                <td>05.10.2022</td>
                                <td>
                                    <a class="btn btn-info" data-toggle="modal" data-target="#" href="#"><i class="fa-solid fa-circle-info"></i> Detay</a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editUser"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>yigitkygs</td>
                                <td>Yiğit Kaygısız</td>
                                <td>5054545151</td>
                                <td>yigit@ygt.com</td>
                                <td>Bireysel</td>
                                @* <td>Evet</td>
                                <td>Evet</td>
                                <td>Evet</td>
                                <td></td>*@
                                <td></td>
                                <td>05.10.2022</td>
                                <td>
                                    <a class="btn btn-info" data-toggle="modal" data-target="#" href="#"><i class="fa-solid fa-circle-info"></i> Detay</a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editUser"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Kullanıcı Sil", body="Kullanıcıyı silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Kullanıcı Aktif Et", body="Kullanıcıyı aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addUser",modalTitle = "Yeni Kullanıcı Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editUser", modalTitle="Kullanıcı Güncelle",dto=editDto})

<script type="text/javascript">
    function EnableComponents() {
        debugger;
        var collection = document.getElementsByClassName("editable");

        for(let i=0; i<collection.length;i++){

            // todo
        }
    }
</script>
