@using Entity.DTO.User
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // todo: table içerisinde kullanıların detaylarına giden bir buton konulabilir.

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListUserDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion
   
    AddUserDTO addDto = new AddUserDTO();

    EditUserDTO editDto = new EditUserDTO();
    editDto.Email = "Ahmet@gmail.com";
    editDto.Name = "Ahmet Osman";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">Kullanıcılar</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addUser">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show p-3" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <div class="mb-3">
                        <a class="btn btn-success" data-toggle="modal" data-target="#addStatus" href="#"><i class="fa-solid fa-plus"></i> Onaylı Kullanıcıları Göster</a>
                        <a class="btn btn-warning" data-toggle="modal" data-target="#addStatus" href="#"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Onay Bekleyen Kullanıcıları Göster</a>

                    </div>
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editUser",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="delete",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Kullanıcı Sil", body="Kullanıcıyı silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Kullanıcı Aktif Et", body="Kullanıcıyı aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addUser",modalTitle = "Yeni Kullanıcı Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editUser", modalTitle="Kullanıcı Güncelle",dto=editDto})
