@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">Kullanıcılar</a>
                    <a class="btn btn-outline-success btn-sm" data-toggle="modal" style="border:none; font-size:15px;" data-target="#addUser" href="#">+</a>

                </h5>
            </div>

            <div id="collapseOne" class="collapse show p-3" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <div>
                        <a class="btn btn-success" data-toggle="modal" data-target="#addStatus" href="#">Onaylı Kullanıcıları Göster</a>
                        <a class="btn btn-warning" data-toggle="modal" data-target="#addStatus" href="#">Onay Bekleyen Kullanıcıları Göster</a>

                    </div>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Kullanıcı Adı</th>
                                <th scope="col">Ad Soyad</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">E-posta</th>
                                <th scope="col">Kullanıcı Türü</th>
                                @*<th scope="col">E-Posta Onayı</th>
                                <th scope="col">Admin Onayı</th>
                                <th scope="col">KVKK Onayı</th>
                                <th scope="col">Açıklama</th>*@
                                <th scope="col">Onaylayan Kullanıcı</th>
                                <th scope="col">Kayıt Tarihi</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ahmetosmn</td>
                                <td>Ahmet Osman Sezgin</td>
                                <td>5054545151351</td>
                                <td>ahmet@sezgin.com</td>
                                <td>Bireysel</td>
                               @* <td>Evet</td>
                                <td>Evet</td>
                                <td>Evet</td>
                                <td></td>*@
                                <td>Admin</td>
                                <td>05.10.2022</td>
                                <td>
                                    <a class="btn btn-info" data-toggle="modal" data-target="#editUser" href="#">Detay</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#delete" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>yigitkygs</td>
                                <td>Yiğit Kaygısız</td>
                                <td>5054545151</td>
                                <td>yigit@ygt.com</td>
                                <td>Bireysel</td>
                                @* <td>Evet</td>
                                <td>Evet</td>
                                <td>Evet</td>
                                <td></td>*@
                                <td></td>
                                <td>05.10.2022</td>
                                <td>
                                    <a class="btn btn-info" data-toggle="modal" data-target="#detail" href="#">Detay</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#delete" href="#">Sil</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Sil</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">Silmek istediğinize emin misiniz?</div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Sil</button></div>
        </div>
    </div>
</div>




<div class="modal" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tramer Detay</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body col-md-12">
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Arka Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp1">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Ön Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp2">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Arka Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp3">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sağ Ön Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp4">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Arka Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp5">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Ön Çamurluk:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp6">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Arka Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp7">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Sol Ön Kapı:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp8">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Tavan:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp9">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Arka Kaput:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp10">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Motor Kaputu:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp11">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Ön Tampon:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp12">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Arka Tampon:</label>
                    </div>
                    <select disabled class="form-control col-md-12" id="cmp13">
                        <option selected>Orjinal</option>
                        <option>Boyalı</option>
                        <option>Değişmiş</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="EnableComponents()" type="button">Düzenle</button>
                <button class="btn btn-primary" type="button">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Detay</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body col-md-12">
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Bileşen Adı:</label>
                        </div>
                        <input type="text" value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Ekle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body col-md-12">
                <div class="input-group mb-3 col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Kullanıcı Adı:</label>
                        </div>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Ad Soyad:</label>
                        </div>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Telefon:</label>
                        </div>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">E-posta:</label>
                        </div>
                        <input type="email" value="" class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Kullanıcı Türü:</label>
                    </div>
                    <select class="form-control" id="cmp13">
                        <option selected>Bireysel</option>
                        <option>Kurumsal</option>
                    </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">E-Posta onayı var mı?:</label>
                        </div>
                        <input type="checkbox" disabled class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Admin onayı var mı?:</label>
                        </div>
                        <input type="checkbox" disabled class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">KVKK onayı var mı?:</label>
                        </div>
                        <input type="checkbox" disabled class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Açıklama:</label>
                        </div>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Açıklama:</label>
                        </div>
                        <input type="text" readonly value="Current Admin" class="form-control" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Kayıt Tarihi:</label>
                        </div>
                        <input type="datetime" readonly value="06/10/2022" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button">Ekle</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function IsActive(button) {
        var element = button;
        if (element.classList.contains("active")) {
            element.classList.remove("active");
        }
        else {
            element.classList.add("active");
        }
    }
</script>
<script type="text/javascript">
    function EnableComponents() {
        document.getElementById('cmp1').disabled = false;
        document.getElementById('cmp2').disabled = false;
        document.getElementById('cmp3').disabled = false;
        document.getElementById('cmp4').disabled = false;
        document.getElementById('cmp5').disabled = false;
        document.getElementById('cmp6').disabled = false;
        document.getElementById('cmp7').disabled = false;
        document.getElementById('cmp8').disabled = false;
        document.getElementById('cmp9').disabled = false;
        document.getElementById('cmp10').disabled = false;
        document.getElementById('cmp11').disabled = false;
        document.getElementById('cmp12').disabled = false;
        document.getElementById('cmp13').disabled = false;
    }
</script>