@using Entity.DTO.UserFavoriteCar
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListUserFavoriteCarDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    AddUserFavoriteCarDTO addDto = new AddUserFavoriteCarDTO();

    EditUserFavoriteCarDTO editDto = new EditUserFavoriteCarDTO();
    editDto.UserEmail = "Ahmet@gmail.com";
    editDto.CarPlate = "16 E 555";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cuufc1" aria-expanded="true" aria-controls="cuufc1" role="button">Kullanıcı - Favori Araç Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addUserFavoriteCar">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cuufc1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">           
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editUserFavoriteCar",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="deleteUserFavoriteCar",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Favoriden Araç Kaldır", body="Aracı favoriden kaldırmak istediğinize emin misiniz?", id="deleteUserFavoriteCar"})
@await Component.InvokeAsync("ActivationModal", new{title = "Favori Araç Bilgisi Aktif Et", body="Favori araç bilgisini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addUserFavoriteCar",modalTitle = "Yeni Kullanıcı Favori Aracı Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editUserFavoriteCar", modalTitle="Kullanıcı Favori Aracı Bilgisi Güncelle",dto=editDto})
