@using Entity.DTO.UserFavoriteCar
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddUserFavoriteCarDTO addDto = new AddUserFavoriteCarDTO();

    EditUserFavoriteCarDTO editDto = new EditUserFavoriteCarDTO();
    editDto.UserEmail = "Ahmet@gmail.com";
    editDto.CarPlate = "16 E 555";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cuufc1" aria-expanded="true" aria-controls="cuufc1" role="button">Kullanıcı - Favori Araç Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addUserFavoriteCar">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cuufc1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <input class="form-control mr-sm-2" type="search" placeholder="Kullanıcı Ara" aria-label="Ara">
                                <button class="btn btn-outline-success " type="submit">Ara</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Kullanıcı</th>
                                <th scope="col">Araç Bilgileri</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ahmet</td>
                                <td>Hyundai Kona 2020 1.4 TSI CVT Siyah</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editUserFavoriteCar"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteUserFavoriteCar"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Yiğit</td>
                                <td>Opel Corsa 2018 1.2 MT Mavi</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editUserFavoriteCar"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteUserFavoriteCar"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Favoriden Araç Kaldır", body="Aracı favoriden kaldırmak istediğinize emin misiniz?", id="deleteUserFavoriteCar"})
@await Component.InvokeAsync("ActivationModal", new{title = "Favori Araç Bilgisi Aktif Et", body="Favori araç bilgisini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addUserFavoriteCar",modalTitle = "Yeni Kullanıcı Favori Aracı Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editUserFavoriteCar", modalTitle="Kullanıcı Favori Aracı Bilgisi Güncelle",dto=editDto})
