@using Entity.DTO.UserCar
@{
    ViewData["Title"] = "Kullanıcı Araçları Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListUserCarDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    AddUserCarDTO addDto = new AddUserCarDTO();

    EditUserCarDTO editDto = new EditUserCarDTO();
    editDto.UserEmail = "Ahmet@gmail.com";
    editDto.CarPlate = "16 E 555";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo" role="button">Kullanıcı Araçları Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#add">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show p-3" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "edit",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="delete",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Kullanıcı-Araç Bilgisini Kaldır", body="Kullanıcı-araç bilgisini kaldırmak istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("AddModal", new{ModalID = "add",modalTitle = "Kullanıcı-Araç Bilgisi Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="edit", modalTitle="Kullanıcı-Araç Bilgisini Güncelle",dto=editDto})
