@{
    ViewData["Title"] = "Komisyon Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> AddModalLblstrs = new List<string>();
    AddModalLblstrs.Add("Sarp");
    AddModalLblstrs.Add("Ahmet");

    List<string> tempList = new List<string>();
    tempList.Add("hede:");
    tempList.Add("bidi:");
}
<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button"> Komisyon Ekle</a>
                </h5>
            </div>

            <div style="margin-left:5%;margin-right:5%" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Komisyon Ücreti </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Minimum Fiyat </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Maximum Fiyat </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Başlangıç Tarihi </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Bitiş Tarihi </span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <button class="btn btn-primary" style="float:right; margin-top:1%;margin-bottom:3%;" type="submit"><i class="fa-regular fa-floppy-disk"></i> Kaydet</button>
            </div>
        </div>
    </div>

    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button"> Komisyon Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#AddCommission">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show p-1" aria-labelledby="headingTwo" data-parent="#accordion">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Komisyon Numarası</th>
                            <th scope="col">Komisyon Tutarı</th>
                            <th scope="col">Komisyon Başlangıç Tarihi</th>
                            <th scope="col">Komisyon Bitiş Tarihi</th>
                            <th scope="col">Komisyon Minimum Tutarı</th>
                            <th scope="col">Komisyon Maximum Tutarı</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Hede</td>
                            <td>Bidi</td>
                            <td>Büdü</td>
                            <td>Hidi</td>
                            <td>Hüdü</td>
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCommission"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Hede</td>
                            <td>Bidi</td>
                            <td>Büdü</td>
                            <td>Hidi</td>
                            <td>Hüdü</td>
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCommission"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Komisyon Sil", body="Komisyonu silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Komisyon Aktif Et", body="Komisyonu aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "AddCommission",modalTitle = "Yeni Komisyon Ekle", Labelstrs = AddModalLblstrs})
@await Component.InvokeAsync("EditModal", new {modalID="editCommission", modalTitle="Komisyon Güncelle",labelStrs=tempList})
