@using Entity.DTO.Neighborhood
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListNeighborhoodDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion

    AddNeighborhoodDTO addNeighborhoodDTO = new AddNeighborhoodDTO();
    addNeighborhoodDTO.Towns = new List<string>() {"Karacabey","Kemalpaşa","Kestel"};

    EditNeighborhoodDTO editNeighborhoodDTO = new EditNeighborhoodDTO();
    editNeighborhoodDTO.Towns = new List<string>() { "Karacabey", "Kemalpaşa", "Kestel" };
    editNeighborhoodDTO.Name = "Emirsultan";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#caddressindex1" aria-expanded="true" aria-controls="caddressindex1" role="button">Mahalleler</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#add">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="caddressindex1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editAddress",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="deleteAddress",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Mahalle Sil", body="Mahalleyi silmek istediğinize emin misiniz?", id="deleteAddress"})
@await Component.InvokeAsync("ActivationModal", new{title = "Mahalle Aktif Et", body="Mahalleyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("EditModal", new {modalID="editAddress", modalTitle="Mahalle Güncelle",dto=editNeighborhoodDTO})
@await Component.InvokeAsync("AddModal", new{ModalID = "add",modalTitle = "Yeni Mahalle Ekle", dto = addNeighborhoodDTO})
