@using Entity.DTO.Message
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddMessageDTO addDto = new AddMessageDTO();
    addDto.MessageTitle = new List<string>() {"Favorinizdeki aracın fiyatı düştü.","Değerli kullanıcımız bildirimleri açmayı unutmayınız."};

    EditMessageDTO editDto = new EditMessageDTO();
    editDto.MessageTitle = new List<string>() { "Favorinizdeki aracın fiyatı düştü.", "Değerli kullanıcımız bildirimleri açmayı unutmayınız." };
    editDto.UserEmail = "Ahmet@gmail.com";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cmi1" aria-expanded="true" aria-controls="cmi1" role="button">Mesaj Bilgi Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addMessage">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cmi1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">

                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mesaj Metni</th>
                                <th scope="col">Kullanıcı Adı</th>
                                <th scope="col">Aktif/Pasif</th>
                                <th scope="col">Versiyon</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>dlkfjdjd</td>
                                <td>Emine</td>
                                <td>Aktif</td>
                                <td>v1</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editMessage"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Mesajı Sil", body="Mesajı silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Mesajı Aktif Et", body="Mesajı aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addMessage",modalTitle = "Yeni Mesaj Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editMessage", modalTitle="Mesajı Güncelle",dto=editDto})
