@using Entity.DTO.MessageContent
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddMessageContentDTO addDto = new AddMessageContentDTO();

    EditMessageContentDTO editDto = new EditMessageContentDTO();
    editDto.ContentText = "test mesaj içeriği";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cmc1" aria-expanded="true" aria-controls="cmc1" role="button">Mesaj içerik Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addMessageContent">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cmc1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">İçerik Metni</th>
                                <th scope="col">Aktif/Pasif</th>
                                <th scope="col">Versiyon</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>dlkfjdjd</td>
                                <td>Aktif</td>
                                <td>v1</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editMessageContent"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Mesaj İçeriğini Sil", body="Mesaj içeriğini silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Mesaj İçeriğini Aktif Et", body="Mesaj İçeriğini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addMessageContent",modalTitle = "Yeni Mesaj İçeriği Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editMessageContent", modalTitle="Mesaj İçeriği Güncelle",dto=editDto})
