
@{
    ViewBag.Title = "CustomerSignUp";
    Layout = "~/Views/Shared/AuthLayouts/_SignUpLayout.cshtml";
}

<div class="ImageLayer">
    <img src="~/Content/Images/NewCustomer.png" class="CarImage" />
</div>