@model Entity.DTO.RabbitMQLoginDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jockey+One&display=swap" rel="stylesheet" />
    <link href="~/Content/MyCss/SignUp/CustomerSignUp/CustomerSignUp.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <style>
        body {
            background-color: #0FB79F;
        }
    </style>
    <form asp-controller="Auth" asp-action="CustomerSignUp" method="post">
        <div class="SignUp">
            <div class="SignUpInputs">
                <div class="Inputs">
                    <div class="row mt-5">
                        <div class="row">
                            <span class="SignUpTextOne">Bireysel Kullanıcı Oluştur</span>
                        </div>
                        <div class="row">
                            <span class="SignUpTextTwo">Ikinci El Araç Ihale Sistemi Kayıt Olun.</span>
                        </div>
                    </div>
                    <div class="InputsCard mt-4">
                        <input class="input-group-text mt-4 w-100 p-1" name="Username" type="text" id="Username"
                               placeholder="Kullanıcı Adı:"
                               style="text-align: left; background-color: white; color: black;" />
                        <input class="input-group-text mt-3 w-100 p-1" name="Username" type="text" id="Customername"
                               placeholder="Ad Soyad:" style="text-align: left; background-color: white; color: black;" />
                        <input class="input-group-text mt-3 w-100 p-1" name="Phone" type="text" id="Phone"
                               style="text-align: left; background-color: white; color: black;" placeholder="Telefon:" />
                        <input class="input-group-text mt-3 w-100 p-1" name="Email" type="email" id="Email"
                               style="text-align: left; background-color: white; color: black;" placeholder="Email:" />
                        <input class="input-group-text mt-3 w-100 p-1" name="Password" type="password" id="Password"
                               style="text-align: left; background-color: white; color: black;" placeholder="Şifre" />
                        <input class="input-group-text mt-3 w-100 p-1" name="RePassword" type="password" id="RePassword"
                               style="text-align: left; background-color: white; color: black;"
                               placeholder="Şifre Tekrarı" />
                        <div class="row mt-4">
                            <div class="btn-group">
                                <a class="btn btn-primary col-2 w-10" href="~/Auth/Login" id="GoBack"
                                   style="background-color: #D35400; border-radius:15px; border:none; color:white; font-size:16px; font-weight:500;">
                                    Geri
                                    Dön
                                </a>
                                <input class="btn btn-primary col-2 w-10" value="Kayıt Ol" type="submit" id="Create"
                                       style="background-color: #FCB510; border-radius:15px; border:none; color:white; font-size:16px; font-weight:500; text-align: center;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ImageLayer">
                <img src="~/Content/Images/NewCustomer.png" style="width: 100%; height:100%; position:relative;"/>
            </div>
        </div>
    </form>
</body>
</html>