@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Forgot Password Page</title>
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jockey+One&display=swap" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <style>
        body {
            height: 100vh;
        }

        .ForgotPasswordInputs {
            position: absolute;
            width: 40%;
            height: 100vh;
            background-color: #0FB79F;
        }

        .TextOne {
            position: relative;
            color: black;
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-family: 'Jockey One';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            text-align: center;
        }

        .InputsCard {
            position: relative;
            width: 75%;
            height: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .InputsCardDesign {
            width: auto;
            height: auto;
            position: relative;
            top: 20%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .ImageLayer {
            position: relative;
            width: 60%;
            height: 100%;
            margin: auto;
            float: right;
        }
    </style>
    <div class="ForgotPasswordInputs">
        <div class="InputsCardDesign">
            <div class="row mt-5">
                <span class="TextOne">Şifrenizi Mi Unuttunuz?</span>
            </div>
            <div class="InputsCard mt-5">
                <input class="input-group-text mt-4 col-md-12 p-1" name="Username" type="email"
                       placeholder="Email adresi:" style="text-align: left; background-color: white; color: black;" />
                <div class="row mt-3">
                    <div class="btn-group col-md-12">
                        <input class="btn btn-primary col-md-8" type="submit" value="Şifreyi Sıfırla"
                               style="background-color: #FCB510; border-radius:15px; border:none; color:white; font-size:16px; font-weight:500;" />
                    </div>
                    <div class="btn-group mt-4 col-md-12">
                        <a class="btn btn-primary col-md-8" href="~/Auth/Login"
                           style="background-color: #3498DB; border-radius:15px; border:none; color:white; font-size:16px; font-weight:500;">
                            Giriş
                            Ekranına Geri Dön
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ImageLayer">
        <img src="~/Content/Images/Forgot Password.png" class="FPImager" />
    </div>
</body>

</html>

