
@{
    ViewBag.Title = "İhale Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İhale Detay</h2>

<div class="container mb-3">
    <label class="mt-5 "><b>İhale Genel Bilgiler</b></label>
    <div class="mt-1 p-4" style="border:2px solid gray;">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">İhale Adı:</span>
                    </div>
                    <input disabled type="text" class="form-control col-md-8" value="Örnek Araç İhale">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Bireysel/Kurumsal:</label>
                    </div>
                    <select disabled class="custom-select" id="inputGroupSelect01">
                        <option disabled>Müşteri Tipi Seçiniz...</option>
                        <option selected value="1">Bireysel Müşteri</option>
                        <option value="2">Kurumsal Müşteri</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Şirket Adı:</label>
                    </div>
                    <select disabled class="custom-select" id="inputGroupSelect01">
                        <option disabled>Şirket Adı Seçiniz...</option>
                        <option selected value="1">XXX</option>
                        <option value="2">YYY</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text form-control col-md-12" for="inputGroupSelect01">Statü:</label>
                    </div>
                    <select disabled class="custom-select form-control col-md-9" id="inputGroupSelect01">
                        <option disabled>Statü Seçiniz...</option>
                        <option selected value="1">Başlamadı</option>
                        <option value="2">Başladı</option>
                        <option value="3">Bitti</option>
                        <option value="4">İptal</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">İhale Başlangıç Tarih:</span>
                    </div>
                    <input disabled type="date" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">İhale Başlangıç Saat:</span>
                    </div>
                    <input disabled type="text" class="form-control col-md-8">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">İhale Bitiş Tarih:</span>
                    </div>
                    <input disabled type="date" value="" class="form-control col-md-7" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">İhale Bitiş Saat:</span>
                    </div>
                    <input disabled type="text" class="form-control col-md-9">
                </div>
            </div>
        </div>
    </div>
    <label class="mt-5"><b>Araç İhale Listesi</b></label>
    <div class="mt-1 p-1" style="border:2px solid gray;">
        <div class="mt-1 p-4" style="border:1px solid gray;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Araç Plaka</th>
                        <th scope="col">Araç Marka</th>
                        <th scope="col">Araç Model</th>
                        <th scope="col">Bireysel / Kurumsal</th>
                        <th scope="col">Statü</th>
                        <th scope="col">Kayıt Eden Kullanıcı</th>
                        <th scope="col">Kayıt Etme Zamanı</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">16 E 987</td>
                        <td>Toyota</td>
                        <td>Yaris</td>
                        <td>Bireysel</td>
                        <td>Satışta</td>
                        <td>Ahmet123</td>
                        <td>05.10.2022</td>
                        <td>255.000 TL</td>
                        <td>
                            <a class="btn btn-warning col-md-12" data-toggle="modal" data-target="#editStatus" href="http://localhost:60964/Advert/Details/2"><i class="fa-solid" style="color:black;"></i>Görüntüle</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">16 E 987</td>
                        <td>Toyota</td>
                        <td>Yaris</td>
                        <td>Bireysel</td>
                        <td>Satışta</td>
                        <td>Ahmet123</td>
                        <td>05.10.2022</td>
                        <td>255.000 TL</td>
                        <td>
                            <a class="btn btn-warning col-md-12" data-toggle="modal" data-target="#editStatus" href="http://localhost:60964/Advert/Details/2"><i class="fa-solid" style="color:black;"></i>Görüntüle</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">16 E 987</td>
                        <td>Toyota</td>
                        <td>Yaris</td>
                        <td>Bireysel</td>
                        <td>Satışta</td>
                        <td>Ahmet123</td>
                        <td>05.10.2022</td>
                        <td>255.000 TL</td>
                        <td>
                            <a class="btn btn-warning col-md-12" data-toggle="modal" data-target="#editStatus" href="http://localhost:60964/Advert/Details/2"><i class="fa-solid" style="color:black;"></i>Görüntüle</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        
    </div>
    <div class="row float-right" style="margin-bottom:20px">
        <div class="col-md-12 ">
            <button class="btn btn-primary" type="submit"><i class="fa-regular"></i> Teklif Ver</button>
        </div>
    </div>

</div>


