
@{
    ViewBag.Title = "Araç Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop Detail</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
}


<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://i0.shbdn.com/photos/86/40/48/x16_10438640487dn.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://i0.shbdn.com/photos/86/40/48/x16_1043864048aeg.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://i0.shbdn.com/photos/86/40/48/x16_10438640480se.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://i0.shbdn.com/photos/86/40/48/x16_10438640481mj.jpg" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://i0.shbdn.com/photos/86/40/48/x16_10438640485fy.jpg" alt="Fifth slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>Toyota Corolla Temiz Kullanıldı Sadece 2 Taklası Var</h3>
                <div class="d-flex mb-3">

                    <small class="pt-1">(99 Kişinin Favorisi)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">₺650.00</h3>
                <p class="mb-4">
                    Araç Hakkında kısa bilginin verileceği alan.
                </p>
                <div class="d-flex mb-3">
                    <div class="mr-3">
                        <strong class="text-dark mr-3">Marka:</strong>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 mr-2">
                            <input type="checkbox"  checked class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Toyota</label>
                        </div>
                    </div>
                    <div class="mr-3">
                        <strong class="text-dark mr-3">Model:</strong>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 mr-2">
                            <input type="checkbox" checked class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Corolla</label>
                        </div>
                    </div>
                    <div class="mr-3">
                        <strong class="text-dark mr-3">Yıl:</strong>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 mr-2">
                            <input type="checkbox" checked class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">2015</label>
                        </div>
                    </div>
                    <div>
                        <strong class="text-dark mr-3">Renk:</strong>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 mr-2">
                            <input type="checkbox" checked class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Beyaz</label>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3">
                        <i class="fa fa-shopping-cart mr-1"></i> Kart'a Ekle
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Açıklama</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Özellikler</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Tramer Bilgisi</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <textarea disabled class="form-control" rows="25">
NİSSAN SKYLİNE
GT-R / R35 
Model Yılı : 2011
Dış Renk: SEDEFLİ BEYAZ
İç Renk: SİYAH
485 hp
Kilometre:  51.000
_________________________________________________
Teknik Bilgiler
MK4 BODY KİT
BOSE SES SİSTEMİ
ŞANZIMAN SOĞUTUCU
ADAPTİF SÜRÜŞ SEÇENEKLERİ
ADAPTİF ŞASİ SEÇENEKLERİ
GELİŞMİŞ ARAÇ DİNAMİK KONTROLÜ (VDC)
ELEKTRONİK FREN GÜCÜ DAĞITIMI (EBD)
ANAHTARSIZ GİRİŞ ÇIKIŞ ÇALIŞTIRMA ( KEYLESS-GO)
CRUİSE CONTROL (HIZ SABİTLEYİCİ)
PADDLESHIFT F1
START&STOP
SERVOTRONİK DİREKSİYON
ANAHTARSIZ ÇALIŞMA
ELEKTRİKLİ KATLANIR ISITMALI HAFIZALI YAN AYNALAR
ELEKTROKROM (IŞIĞA DUYARLI) İÇ VE DIŞ AYNALAR
YAĞMUR SEZİCİ
FAR SENSÖRÜ
AKUSTİK KEMER UYARISI
ÖN/ARKA PARK MESAFE KONTROL PARK SENSÖRÜ
_________________________________________________
ARAÇ EXPERTİZE
SAĞ ÖN KAPI BOYALI
TRAMER : 68.000₺
</textarea>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <table>
                            <thead>
                                <tr>Ozellik</tr>
                                <tr>Ozellik</tr>
                                <tr>Ozellik</tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>adfsasdf</td>
                                    <td>adfsasdf</td>
                                    <td>adfsasdf</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">1 review for "Product Name"</h4>
                                <div class="media mb-4">
                                    <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                    <div class="media-body">
                                        <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                        <div class="text-primary mb-2">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Your email address will not be published. Required fields are marked *</small>
                                <div class="d-flex my-3">
                                    <p class="mb-0 mr-2">Your Rating * :</p>
                                    <div class="text-primary">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label for="message">Your Review *</label>
                                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Your Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Your Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->
