
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> AddModalLblstrs = new List<string>();
    AddModalLblstrs.Add("Sarp");
    AddModalLblstrs.Add("Ahmet");

    List<string> tempList = new List<string>();
    tempList.Add("hede:");
    tempList.Add("bidi:");
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cti1" aria-expanded="true" aria-controls="cti1" role="button">İlçeler</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addTown">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cti1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="row mt-3 mb-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">İlçe Adı:</label>
                            </div>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <table style="text-align:center;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">İlçe Adı</th>
                            <th scope="col">Şehir</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Karacabey</td>
                            <td>Bursa</td>
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editTown">
                                  <i class="fa-solid fa-pen-to-square" style="color:black;"></i>  Güncelle
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteTown">
                                    <i class="far fa-trash-alt"></i>  Sil
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "İlçe Sil", body="İlçeyi silmek istediğinize emin misiniz?", id="deleteTown"})
@await Component.InvokeAsync("ActivationModal", new{title = "İlçe Aktif Et", body="İlçeyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addTown",modalTitle = "Yeni İlçe Ekle", Labelstrs = AddModalLblstrs})
@await Component.InvokeAsync("EditModal", new {modalID="editTown", modalTitle="İlçe Güncelle",labelStrs=tempList})
