@using Entity.DTO.Town

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // todo: cities null gelirse proje patlıyor.

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListTownDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion


    AddTownDTO addDto = new AddTownDTO();
    addDto.Cities = new List<string> { "İstanbul", "Bursa", "Ankara", "Samsun" };

    EditTownDTO editDto = new EditTownDTO();
    editDto.Cities = new List<string> { "İstanbul", "Bursa", "Ankara", "Samsun" };
    editDto.Name = "Karacabey";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cti1" aria-expanded="true" aria-controls="cti1" role="button">İlçeler</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addTown">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cti1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">                
                @await Component.InvokeAsync("BaseTable",
                new{
                TableID = "myTable1",
                EditIsModal = true,
                EditBtnModalID = "editTown",
                EditBtnController="",
                EditBtnAction="",
                DeleteBtnModalID="deleteTown",
                TableHeads=heads,
                TableDatas=datas
                })
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "İlçe Sil", body="İlçeyi silmek istediğinize emin misiniz?", id="deleteTown"})
@await Component.InvokeAsync("ActivationModal", new{title = "İlçe Aktif Et", body="İlçeyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addTown",modalTitle = "Yeni İlçe Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editTown", modalTitle="İlçe Güncelle", dto = editDto})
