@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="accordion">
        <div class="card">
            <div id="collapseTwo" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Statü Tipi:</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option value="1" selected>Araç</option>
                                <option value="2">İlan</option>
                                <option value="3">İhale</option>
                                <option value="4">Şirket</option>
                                <option value="3">Tramer</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">

                    <div>
                        <a class="btn btn-success" data-toggle="modal" data-target="#addStatus" href="#">Yeni Statü Ekle</a>
                    </div>

                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Statü</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Giriş</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Hemen Al Satışta</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>İhalede</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Satış Komisyonu tahsil edildi</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ekspertiz sonucu bekleniyor</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ekspertiz sonucu alındı</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Satıldı</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Satış İptal</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editStatus" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="#">Sil</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Statüyü Sil</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">Silmek istediğinize emin misiniz?</div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Sil</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="editStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Statüyü Güncelle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Statü Giriniz:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Kaydet</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Statü Ekle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Statü Giriniz:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Ekle</button></div>
        </div>
    </div>
</div>

