@using CT.AdminUI.Models.ModalDTOs
@using Entity.DTO.Status
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListStatusDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion

    AddStatusDTO addDto = new AddStatusDTO();
    addDto.StatusType = new List<string>() { "Araç", "İlan", "İhale", "Şirket", "Tramer" };

    EditStatusDTO editDto = new EditStatusDTO();
    editDto.Name = "Yeni Statü";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cs1" aria-expanded="true" aria-controls="cs1" role="button">Statüler</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#exampleModalAdd">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cs1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editStatus",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="deleteStatus",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Statü Sil", body="Statüyü silmek istediğinize emin misiniz?", id="deleteStatus"})
@await Component.InvokeAsync("ActivationModal", new{title = "Statü Aktif Et", body="Statüyü aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new {modalID = "exampleModalAdd",modalTitle = "Yeni Statü Ekle", dto= addDto , ActionName="Add",ControllerName = "Status"})
@await Component.InvokeAsync("EditModal", new {modalID = "editStatus",modalTitle = "Statü Güncelle", dto= editDto , ActionName="Edit",ControllerName = "Status"})