@using Entity.DTO
@using Entity.DTO.Expertise
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListExpertiseDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion

    AddExpertiseDTO addDto = new AddExpertiseDTO();
    addDto.City = new List<string>() { "İstanbul", "İzmir", "Bursa" };
    addDto.Town = new List<string>() { "Kestel", "Mustafa Kemal Paşa", "Karacabey" };
    addDto.Address = new List<string>() { "Emirsultan", "Sırabademler", "Cumhuriyet" };

    EditExpertiseDTO editDto = new EditExpertiseDTO();
    editDto.City = new List<string>() { "İstanbul", "İzmir", "Bursa" };
    editDto.Town = new List<string>() { "Kestel", "Mustafa Kemal Paşa", "Karacabey" };
    editDto.Address = new List<string>() { "Emirsultan", "Sırabademler", "Cumhuriyet" };
    editDto.ExpertiseName = "SZGN Ekspertiz";
    editDto.Longitude = 22;
    editDto.Latitude = 42;

}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ce1" aria-expanded="true" aria-controls="ce1" role="button">Ekspertiz Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#Exp">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="ce1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    @await Component.InvokeAsync("BaseTable",
                    new{
                    TableID = "myTable1",
                    EditIsModal = true,
                    EditBtnModalID = "editExpertise",
                    EditBtnController="",
                    EditBtnAction="",
                    DeleteBtnModalID="delete",
                    TableHeads=heads,
                    TableDatas=datas
                    })
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Ekspertizi Sil", body="Ekspertizi silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Ekspertizi Aktif Et", body="Ekspertizi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "Exp",modalTitle = "Yeni Ekspertiz Ekle", dto =addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editExpertise", modalTitle="Ekspertiz Güncelle",dto=editDto})
