@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> AddModalLblstrs = new List<string>();
    AddModalLblstrs.Add("Sarp");
    AddModalLblstrs.Add("Ahmet");

    List<string> tempList = new List<string>();
    tempList.Add("hede:");
    tempList.Add("bidi:");
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ce1" aria-expanded="true" aria-controls="ce1" role="button">Ekspertiz Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#Exp">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="ce1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Ekspertiz</th>
                                <th scope="col">Adres</th>
                                <th scope="col">Enlem</th>
                                <th scope="col">Boylam</th>
                                <th scope="col">Aktif/Pasif</th>
                                <th scope="col">Versiyon</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Giriş</td>
                                <td>dlkfjdjd</td>
                                <td>Enlem</td>
                                <td>Boylam</td>
                                <td>Aktif</td>
                                <td>v1</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editExpertise"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Ekspertizi Sil", body="Ekspertizi silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Ekspertizi Aktif Et", body="Ekspertizi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "Exp",modalTitle = "Yeni Ekspertiz Ekle", Labelstrs = AddModalLblstrs})
@await Component.InvokeAsync("EditModal", new {modalID="editExpertise", modalTitle="Ekspertiz Güncelle",labelStrs=tempList})
