<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance%22%3E"
	  >
	<targets>
		<target name="database"
            xsi:type="Database"
            connectionStringName="nlog"
            commandText="
			exec InsertLog @Level,@CallSite,@Type,@Message,@StackTrace,@InnerExecption,@AdditionalInfo
            ">
			<parameter name="@Level" layout="${Level}"/>
			<parameter name="@CallSite" layout="${CallSite}"/>
			<parameter name="@Type" layout="${exception:format=type}"/>
			<parameter name="@Message" layout="${exception:format=message}"/>
			<parameter name="@StackTrace" layout="${exception:format=StackTrace}"/>
			<parameter name="@InnerExecption" layout="${exception:method:maxInnerExceptionLevel=5:innerFormat:shortType,message,method}"/>
			<parameter name="@AdditionalInfo" layout="${message}"/>
		</target>

	</targets>
	<rules>
		<logger name="databaseLogger" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>