<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance%22%3E"
	  autoReload="true"
	  throwExceptions ="true">
	<target name ="database"
			xsi:type ="Database"
			connectionString="server=.;Database=CarTenderDB;Trusted_Connection=True;"
			dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient"
			commandText="Insert into logs(date,level,message,machinename,logger) values (@date,@level,@message,@machinename,@logger)">
		<parameter name="@date" layout ="${longdate}" dbType="DateTime"></parameter>
		<parameter name="@level" layout="${level}"></parameter>
		<parameter name="@message" layout="${message}"></parameter>
		<parameter name="@machinename" layout="${machinename}"></parameter>
		<parameter name="@logger" layout="${logger}"></parameter>
	</target>
	
	<rules>
		<logger name="*" minlevel="Trace" writeTo="database"/>
		<!--<logger name="*" minlevel="Trace" writeTo=/>
		<logger name="*" minlevel="Trace" writeTo=/>-->
	</rules>
</nlog>