@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> tempList = new List<string>();
    tempList.Add("hede:");
    tempList.Add("bidi:");
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cbidinfo1" aria-expanded="true" aria-controls="cbidinfo1" role="button">İhale Bilgileri</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cbidinfo1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Teklif Adı:</th>
                                <th scope="col">Kurumsal/Bireysel</th>
                                <th scope="col">Onaylandı mı?</th>
                                <th scope="col">Aktif/Pasif</th>
                                <th scope="col">Başlangıç Tarihi</th>
                                <th scope="col">Bitiş Tarihi</th>
                                <th scope="col">Versiyon</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>AAAAAAAAAA</td>
                                <td>Kurumsal</td>
                                <td>Evet</td>
                                <td>Aktif</td>
                                <td>bugün</td>
                                <td>Yarın</td>
                                <td>V2</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editBid2"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>BBBBBBBBBBBB</td>
                                <td>Bireysel</td>
                                <td>Evet</td>
                                <td>Aktif</td>
                                <td>bugün</td>
                                <td>Yarın</td>
                                <td>V1</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editBid2"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "İhale Sil", body="İhale bilgisini silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "İhale Aktif Et", body="İhaleyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("EditModal", new {modalID="editBid2", modalTitle="İhale Güncelle",labelStrs=tempList})

@*<div class="modal fade" id="editStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Teklifi Güncelle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Teklif Adı:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Onay Durumu:</label>
                    </div>
                    <input type="checkbox" value="Evet"   class="form-control col-md-8" />
                    <input type="radio" value="Hayır" class="form-control col-md-8" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Aktif/ Pasit:</label>
                    </div>
                    <input type="radio" value="Evet"  class="form-control col-md-8" />
                    <input type="radio" value="Hayır" class="form-control col-md-8" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Bitiş Tarihi:</label>
                    </div>
                    <input type="datetime" value="" class="form-control col-md-8" />
                    <div class="input-group-prepend">
                        </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Versiyon:</label>
                    <input type="text" value="" class="form-control col-md-8" />
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Kaydet</button></div>
            </div>
    </div>
</div>
    </div>*@

