@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="accordion">
        <div class="card">
            <div id="collapseTwo" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">

                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Bilgi</th>
                                <th scope="col">Teklif Adı</th>
                                <th scope="col">Statu</th>
                                <th scope="col">Aktif/Pasif</th>
                                <th scope="col">Versiyon</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>bilgi bilgi bilgi</td>
                                <td>kedi</td>
                                <td>XXXXXXXXXXXX</td>
                                <td>Aktif</td>
                                <td>V2</td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Teklif Sil", body="Teklif bilgisini silmek istediğinize emin misiniz?", id="delete"})
