@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Car</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <label class="mt-5"><b>İhale Genel Bilgiler</b></label>
        <div class="mt-1 p-4" style="border:2px solid gray;">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">İhale Adı:</span>
                        </div>
                        <input type="text" class="form-control col-md-8">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Bireysel/Kurumsal:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Seçiniz...</option>
                            <option value="1">Bireysel</option>
                            <option value="2">Kurumsal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Şirket Adı:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Seçiniz...</option>
                            <option value="1">Bireysel</option>
                            <option value="2">Kurumsal</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Teklif Fiyatı: </label>
                        <input type="text" @*asp-for="Brand"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>
        </div>

        <label class="mt-4"><b>Araç Detay Bilgileri</b></label>
        <div class="mt-1 p-4" style="border:2px solid gray;">
            @*<form asp-action="IndividualPurchase" asp-controller="Tender" method="post">*@
            <div class="row">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Araç Marka: </label>
                        @*<input type="text" @*asp-for="Brand" value="" class="form-control col-md-8" />*@
                        <input type="text" @*asp-for="Brand"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Araç Model: </label>
                        <input type="text" @*asp-for="Brand"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Gövde Tipi: </label>
                        <input type="text" @*asp-for="BodyType"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Yıl: </label>
                        <input type="text" @*asp-for="Year"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Yakıt Tipi: </label>
                        <input type="text" @*asp-for="FuelType"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Vites Tipi: </label>
                        <input type="text" @*asp-for="GearType"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Versiyon: </label>
                        <input type="text" @*asp-for="Version"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Km Bilgisi: </label>
                        <input type="text" @*asp-for="Milage"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Renk: </label>
                        <input type="text" @*asp-for="Color"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Donanım: </label>
                        <input type="text" @*asp-for="OptionalEqps"*@ value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>
            @*</form>*@
        </div>

        <div class="row">
            <div class="col-md-5">
                <label class="mt-4"><b>Fotolar</b></label>
                <div class="mt-1 p-4" style="border:2px solid gray; height: 150px; vertical-align:middle; display:flex; align-items:center; justify-content:center;">
                    <div style="display:flex; justify-content:center;">
                        <a href="#" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        <a href="#" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        <a href="#" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        <a href="#" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        <a href="#" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <label class="mt-4"><b>Açıklama</b></label>
                <div class="mt-1 p-4" style="border:2px solid gray; height: 150px;">
                    <textarea class="form-control" style="resize:none; height: 100%"></textarea>
                </div>
            </div>
        </div>

        <div class="row float-right">
            <div class="col-md-12 ">
                <button class="btn btn-dark mt-4" type="submit">Araç Tarihçe</button>
                <button class="btn btn-dark mt-4" type="submit">Hasar Tramer Bilgileri</button>
                <button class="btn btn-dark mt-4" type="submit">Ekle</button>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>