@using Entity.DTO.Bid
@using Entity.DTO.Pagination
@using System.Reflection
@model List<BidListDTO>
@{
    ViewData["Title"] = "İhale Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(BidListDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }
}
<div class="container-fluid p-5">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">İhale Tanımlama / Listeleme</h1>
    <p class="mb-4">
        Kullanıcıların eklemiş olduğu ihaleleri buradan inceleyip ve düzenleyebilirsiniz.
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Arama Kriterleri</h6>
        </div>
        <div class="card-body">
            <form class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">İhale Adı</label>
                        <input class="form-control" id="exampleFormControlSelect1" type="text" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Bireysel / Kurumsal</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Bireysel</option>
                            <option>Kurumsal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Statü</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Başlamadı</option>
                            <option>Başladı</option>
                            <option>Bitti</option>
                            <option>İptal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 col-sm-0"></div>
                <div class="col-md-3 col-sm-12">
                    <button class="btn btn-info btn-block" style="background-color: #2E86C1 ;" type="button"><i class="fa-solid fa-list" style="color:white;"></i>  Listele</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mb-4 clearfix">
        <div class="col-md-3 float-right">
            @await Component.InvokeAsync("AddButton", new{IsHref=true,LinkHref="",ControllerName="Car",ActionName="Add", ButtonName="İhale Oluştur", ModalID=""})
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">İhale Listesi</h6>
        </div>
        <div class="card-body">
            @await Component.InvokeAsync("BaseTable",
            new{
            TableID = "myTable1",
            EditIsModal = false,
            EditBtnModalID = "",
            EditBtnController="Car",
            EditBtnAction="Edit",
            DeleteBtnModalID="deleteCar",
            TableHeads=heads,
            TableDatas=datas
            })
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "İhaleyi Sil", body="İhaleyi silmek istediğinize emin misiniz?", id="deleteCar"})

@await Component.InvokeAsync("ActivationModal", new{title = "İhaleyi Aktif Et", body="İhaleyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})