@{
    ViewData["Title"] = "Bireysel Kullanıcı Otomatik İhale Teklifleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> tempList = new List<string>();
    tempList.Add("hede:");
    tempList.Add("bidi:");

    List<string> AddModalLblstrs = new List<string>();
    AddModalLblstrs.Add("Sarp");
    AddModalLblstrs.Add("Ahmet");
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#cbiduabi1" aria-expanded="true" aria-controls="cbiduabi1" role="button">Bireysel Kullanıcı Otomatik İhale Teklifleri</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#add">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="cbiduabi1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Maksimum Teklif</th>
                                <th scope="col">Teklif Artış Miktarı</th>
                                <th scope="col">Kullanıcı</th>
                                <th scope="col">İhale Adı</th>
                                <th scope="col">Aktif/Pasif</th>
                                <th scope="col">Version</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>500.000</td>
                                <td>1.000</td>
                                <td>Ahmet</td>
                                <td>Hedef Filo Ekim 2022 İhalesi</td>
                                <td>Aktif</td>
                                <td>V1</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editUserAutoBidOffer"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>

                                </td>
                            </tr>
                            <tr>
                                <td>550.000</td>
                                <td>1.500</td>
                                <td>Yiğit</td>
                                <td>Hedef Filo Ekim 2022 İhalesi</td>
                                <td>Aktif</td>
                                <td>V1</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editUserAutoBidOffer"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#delete"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Teklif Sil", body="Teklif bilgisini silmek istediğinize emin misiniz?", id="delete"})
@await Component.InvokeAsync("ActivationModal", new{title = "Teklif Aktif Et", body="Teklifi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@*@await Component.InvokeAsync("EditModal", new {modalID="editUserAutoBidOffer", modalTitle="Teklif Güncelle",labelStrs=tempList})*@
@*@await Component.InvokeAsync("AddModal", new{ModalID = "add",modalTitle = "Teklif Ekle", Labelstrs = AddModalLblstrs})*@
 