@using Entity.DTO.CarSaleHistory
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListCarSaleHistoryDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion

    AddCarSaleHistoryDTO addDto = new AddCarSaleHistoryDTO();

    EditCarSaleHistoryDTO editDto = new EditCarSaleHistoryDTO();
    editDto.CarPlate = "16 E 555";
    editDto.BuyerMail = "ahmet@gmail.com";
    editDto.SellerMail = "osman@gmail.com";
    editDto.Price = 356500;
    editDto.Commission = 15000;
    editDto.CreatedDate = DateTime.Now.AddDays(-2);
}
<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ccarsaleh1" aria-expanded="true" aria-controls="ccarsaleh1" role="button">Araç Satış Tarihçe</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addSale">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="ccarsaleh1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">               
                @await Component.InvokeAsync("BaseTable",
                new{
                TableID = "myTable1",
                EditIsModal = true,
                EditBtnModalID = "editSale",
                EditBtnController="",
                EditBtnAction="",
                DeleteBtnModalID="deleteSale",
                TableHeads=heads,
                TableDatas=datas
                })
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ActivationModal", new{title = "Satışı Aktif Et", body="Satışı aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("DeleteModal", new{title = "Satışı Sil", body="Satışı silmek istediğinize emin misiniz?", id="deleteSale"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addSale",modalTitle = "Yeni Satış Tarihçe Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editSale", modalTitle="Satışı Güncelle",dto=editDto})
