@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> AddModalLblstrs = new List<string>();
    AddModalLblstrs.Add("Sarp");
    AddModalLblstrs.Add("Ahmet");

    List<string> tempList = new List<string>();
    tempList.Add("hede:");
    tempList.Add("bidi:");
}
<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ccarsaleh1" aria-expanded="true" aria-controls="ccarsaleh1" role="button">Araç Satış Tarihçe</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addSale">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="ccarsaleh1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="row mt-3 mb-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Araç Plakası:</label>
                            </div>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <table style="text-align:center;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Araç Plaka</th>
                            <th scope="col">Satıcı</th>
                            <th scope="col">Alıcı</th>
                            <th scope="col">Satış Fiyatı</th>
                            <th scope="col">Komisyon</th>
                            <th scope="col">Satış Tarihi</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16 E 16</td>
                            <td>Ahmet Sezgin</td>
                            <td>Osman Sezgin</td>
                            <td>180.000 TL</td>
                            <td>8.000 TL</td>
                            <td>05.10.2022</td>
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editSale">
                                    <i class="fa-solid fa-pen-to-square" style="color:black;"></i>  Güncelle
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteSale">
                                    <i class="far fa-trash-alt"></i> Sil
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ActivationModal", new{title = "Satışı Aktif Et", body="Satışı aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("DeleteModal", new{title = "Satışı Sil", body="Satışı silmek istediğinize emin misiniz?", id="deleteSale"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addSale",modalTitle = "Yeni Satış Tarihçe Ekle", Labelstrs = AddModalLblstrs})
@await Component.InvokeAsync("EditModal", new {modalID="editSale", modalTitle="Satışı Güncelle",labelStrs=tempList})
