@using Entity.DTO.CarStatusHistory

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddCarStatusHistoryDTO addDto = new AddCarStatusHistoryDTO();
    addDto.CarStatus = new List<string>() { "İlanda","Ekspertizde","Satışa Hazır"};

    EditCarStatusHistoryDTO editDto = new EditCarStatusHistoryDTO();
    editDto.CarStatus = new List<string>() { "İlanda", "Ekspertizde", "Satışa Hazır" };
    editDto.Info = "Araç statü değişikliği açıklaması";
    editDto.CarPlate = "16 E 555";
    editDto.CreatedDate = DateTime.Now.AddDays(10);
    editDto.CreatedBy = "ahmet@gmail.com";
    editDto.EditedDate = DateTime.Now;
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ccsh1" aria-expanded="true" aria-controls="ccsh1" role="button">Araç Statü Tarihçe</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addCarStatus">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="ccsh1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="row mt-3 mb-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Araç Plakası:</label>
                            </div>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <table style="text-align:center;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Araç Plaka</th>
                            <th scope="col">Statü</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Ekleyen</th>
                            <th scope="col">Ekleme Tarihi</th>
                            <th scope="col">Düzenleyen</th>
                            <th scope="col">Düzenleme Tarihi</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16 E 16</td>
                            <td>Satışta</td>
                            <td>Arcımız satışta durumuna gelmiştir.</td>
                            <td>Ahmet Sezgin</td>
                            <td>05.10.2022</td>
                            <td>Sarp İpekçi</td>
                            <td>12.10.2022</td>
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editStatus">
                                    <i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteStatus">
                                    <i class="far fa-trash-alt"></i>  Sil
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Statü Bilgisini Sil", body="Statü bilgisini silmek istediğinize emin misiniz?", id="deleteStatus"})
@await Component.InvokeAsync("ActivationModal", new{title = "Statü Bilgisini Aktif Et", body="Statü bilgisini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addCarStatus",modalTitle = "Yeni Statü Tarihçe Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editStatus", modalTitle="Statü Güncelle",dto = editDto})
