@using Entity.DTO.CarStatusHistory

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region heads and datas

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListCarStatusHistoryDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }

    #endregion

    AddCarStatusHistoryDTO addDto = new AddCarStatusHistoryDTO();
    addDto.CarStatus = new List<string>() { "İlanda","Ekspertizde","Satışa Hazır"};

    EditCarStatusHistoryDTO editDto = new EditCarStatusHistoryDTO();
    editDto.CarStatus = new List<string>() { "İlanda", "Ekspertizde", "Satışa Hazır" };
    editDto.Info = "Araç statü değişikliği açıklaması";
    editDto.CarPlate = "16 E 555";
    editDto.CreatedDate = DateTime.Now.AddDays(10);
    editDto.CreatedBy = "ahmet@gmail.com";
    editDto.EditedDate = DateTime.Now;
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ccsh1" aria-expanded="true" aria-controls="ccsh1" role="button">Araç Statü Tarihçe</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#addCarStatus">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="ccsh1" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                @await Component.InvokeAsync("BaseTable",
                new{
                TableID = "myTable1",
                EditIsModal = true,
                EditBtnModalID = "editStatus",
                EditBtnController="",
                EditBtnAction="",
                DeleteBtnModalID="deleteStatus",
                TableHeads=heads,
                TableDatas=datas
                })
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Statü Bilgisini Sil", body="Statü bilgisini silmek istediğinize emin misiniz?", id="deleteStatus"})
@await Component.InvokeAsync("ActivationModal", new{title = "Statü Bilgisini Aktif Et", body="Statü bilgisini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addCarStatus",modalTitle = "Yeni Statü Tarihçe Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editStatus", modalTitle="Statü Güncelle",dto = editDto})
