@using CT.AdminUI.Models.ButtonDTOs.EditandDeleteDTO
@model EditAndDeleteDTO

<button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#@Model.ModalID"><i class="far fa-trash-alt"></i> Sil</button>