@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="h3 mb-2 text-gray-800">Araç Ekleme Sayfası</h1>

    <form class="needs-validation" novalidate asp-controller="Admin" asp-action="VehicleDetailInformation" method="post" enctype="multipart/form-data">
        <label class="mt-3"><b>Araç Detay Bilgileri</b></label>
        <div class="mt-1 p-4" style="border:2px solid gray;">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Bireysel/Kurumsal:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="1" selected>Bireysel Müşteri</option>
                            <option value="2">Kurumsal Müşteri</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Şirket Adı:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="1" selected>Hede</option>
                            <option value="2">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Statü:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected value="Hemen Al Satışta">Hemen Al Satışta</option>
                            <option value="Kurumsal">Kurumsal</option>
                            <option value="İhalede">İhalede</option>
                            <option value="Hemen Al Satışta"> Satış Komisyonu tahsil edildi</option>
                            <option value="Kurumsal">Ekspertiz sonucu bekleniyor</option>
                            <option value="İhalede">Ekspertiz sonucu alındı</option>
                            <option value="Hemen Al Satışta">Satıldı</option>
                            <option value="Kurumsal">Satış İpta</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Araç Fiyat:</label>
                        </div>
                        <input type="text" value="" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <label class="mt-4"><b>Araç Detay Bilgileri</b></label>
        <div class="mt-1 p-4" style="border:2px solid gray;">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Araç Marka:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="BMW">BMW</option>
                            <option value="Volvo">Volvo</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Araç Model:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="3.2">3.2</option>
                            <option value="XC60">XC60</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Gövde Tipi:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="Sedan">Sedan</option>
                            <option value="Hatchback">Hatchback</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Yıl:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Yakıt Tipi:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="Dizel">Dizel</option>
                            <option value="Benzin">Benzin</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Vites Tipi:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="Otomatik">Otomatik</option>
                            <option value="Manuel">Manuel</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Versiyon:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="V1">V1</option>
                            <option value="V2">V2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">KM Bilgisi:</label>
                        </div>
                        <input type="text" value="" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Renk:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="Siyah">Siyah</option>
                            <option value="Beyaz">Beyaz</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Donanım:</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option value="Boş">Boş</option>
                            <option value="Dolu">Dolu</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label class="mt-4"><b>Foto Ekle</b></label>
                <div class="mt-1 p-5" style="border:2px solid gray; height: 150px; vertical-align:middle; display:flex; align-items:center;">
                    <div style="display:flex; flex-direction:column; justify-content:space-between;" >
                        <div style="float:left;">
                            <input onchange="readImage(this,1);" type="file" id="file1" style="display:none;" />
                            <a onclick="photoUpload(1);" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        </div>                        
                        <div class="ml-2 mt-2">
                            <img id="file1Preview" src="" />
                        </div>
                    </div>
                    <div style="display:flex; flex-direction:column; justify-content:space-between;" >
                        <div style="float:left;">
                            <input onchange="readImage(this,2);" type="file" id="file2" style="display:none;" />
                            <a onclick="photoUpload(2);" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        </div>                        
                        <div class="ml-2 mt-2">
                            <img id="file2Preview" src="" />
                        </div>                        
                    </div>
                    <div style="display:flex; flex-direction:column; justify-content:space-between;" >
                        <div style="float:left;">
                            <input onchange="readImage(this,3);" type="file" id="file3" style="display:none;" />
                            <a onclick="photoUpload(3);" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        </div>                        
                        <div class="ml-2 mt-2">
                            <img id="file3Preview" src="" />
                        </div>                        
                    </div>
                    <div style="display:flex; flex-direction:column; justify-content:space-between;" >
                        <div style="float:left;">
                            <input onchange="readImage(this,4);" type="file" id="file4" style="display:none;" />
                            <a onclick="photoUpload(4);" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        </div>                        
                        <div class="ml-2 mt-2">
                            <img id="file4Preview" src="" />
                        </div>                        
                    </div>
                    <div style="display:flex; flex-direction:column; justify-content:space-between;" >
                        <div style="float:left;">
                            <input onchange="readImage(this,5);" type="file" id="file5" style="display:none;" />
                            <a onclick="photoUpload(5);" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></a>
                        </div>                        
                        <div class="ml-2 mt-2">
                            <img id="file5Preview" src="" />
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <label class="mt-4"><b>Açıklama</b></label>
                <div class="mt-1 p-4" style="border:2px solid gray; height: 150px;">
                    <textarea class="form-control" style="resize:none; height: 100%"></textarea>
                </div>
            </div>
        </div>

        <div class="row float-right mb-5">
            <div class="col-md-12 ">
                <a class="btn btn-dark mt-4" href="/BuyNowSell/Index/id">Hemen Al Satış</a>
                <a class="btn btn-dark mt-4" href="/Commission/Index">Komisyon</a>
                <a class="btn btn-dark mt-4" href="/BuyerInfo/Index">Alıcı Bilgileri</a>
                <a class="btn btn-dark mt-4" href="/CarHistory/Index">Araç Tarihçe</a>
                <a class="btn btn-dark mt-4" href="/DamageRecord/Index">Hasar Tramer Bilgileri</a>
                <a class="btn btn-dark mt-4" href="/Advert/Index">İlan Bilgileri</a>
                <a class="btn btn-dark mt-4" href="#">Kaydet</a>
            </div>
        </div>
    </form>
</div>

<script>
    function photoUpload(id) {
        let constFileName = "file";
        document.getElementById(constFileName + id).click();
    }

    function readImage(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            let constFileName = "file" + id + "Preview";
            reader.onload = function (e) {
                $('#' + constFileName)
                    .attr('src', e.target.result)
                    .width(55)
                    .height(55);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

