@{
    ViewData["Title"] = "CarBuyerInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> AddModalLblstrs = new List<string>();
    AddModalLblstrs.Add("Sarp");
    AddModalLblstrs.Add("Ahmet");

    List<string> tempList = new List<string>();
    tempList.Add("hede:");
    tempList.Add("bidi:");
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo" role="button">Araç - Alıcı Bilgileri</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addCarBuyerInformation">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse show p-3" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Araç Plaka</th>
                                <th scope="col">Alıcı Bilgisi</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Açıklama</th>
                                <th scope="col">Kaydeden</th>
                                <th scope="col">Kayıt Tarihi</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>16 E 161</td>
                                <td>Ahmet</td>
                                <td>200.000</td>
                                <td></td>
                                <td></td>
                                <td>05.10.2022</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarBuyerInformation">
                                        <i class="fa-solid fa-pen-to-square" style="color:black;"></i>  Güncelle
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarBuyerInformation">
                                        <i class="far fa-trash-alt"></i>   Sil
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Araç Alıcı Bilgilerini Sil", body="Alıcı bilgilerini silmek istediğinize emin misiniz?", id="deleteCarBuyerInformation"})
@await Component.InvokeAsync("ActivationModal", new{title = "Araç Alıcı Bilgilerini Aktif Et", body="Araç Alıcı Bilgilerini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addCarBuyerInformation",modalTitle = "Araç Alıcı Bilgisi Ekle", Labelstrs = AddModalLblstrs})
@await Component.InvokeAsync("EditModal", new {modalID="editCarBuyerInformation", modalTitle="Araç Alıcı Bilgisi Güncelle",labelStrs=tempList})
