@using Entity.DTO.CarCommission
@{
    ViewData["Title"] = "Araç Komisyon";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddCarCommissionDTO addDto = new AddCarCommissionDTO();

    EditCarCommissionDTO editDto = new EditCarCommissionDTO();
    editDto.CarPlate = "16 E 555";
    editDto.CommissionPrice = 5555;
    editDto.Info = "Test açıklaması";
    editDto.MinPrice = 200000;
    editDto.MaxPrice = 250000;
    editDto.StartDate = DateTime.Now.AddDays(-5);
    editDto.EndDate = DateTime.Now.AddDays(5);
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ccarbm1" aria-expanded="true" aria-controls="ccarbm1" role="button">Araç Komisyon Listesi</a>
                    <button type="button" class="btn btn-outline-success ml-3" id="myInput" data-bs-toggle="modal" data-bs-target="#add">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>
            <div id="ccarbm1" class="collapse show p-1" aria-labelledby="headingTwo" data-parent="#accordion">
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Araç Plaka</th>
                            <th scope="col">Komisyon Tutarı</th>
                            <th scope="col">Açıklama</th>
                            <th scope="col">Minimum Araç Tutarı</th>
                            <th scope="col">Maksimum Araç Tutarı</th>
                            <th scope="col">Başlangıç Tarihi</th>
                            <th scope="col">Bitiş Tarihi</th>
                            <th scope="col">Güncelle</th>
                            <th scope="col">Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16 E 555</td>
                            <td>5000</td>
                            <td>Nakit ödenmiştir</td>
                            <td>150.000</td>
                            <td>350.000</td>
                            <td>01.10.2022</td>
                            <td>01.11.2022</td>
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarCommission"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarCommission"><i class="far fa-trash-alt"></i> Sil</button>
                            </td>
                        </tr>
                        <tr>
                            <td>16 E 555</td>
                            <td>4500</td>
                            <td>Nakit ödenmiştir</td>
                            <td>150.000</td>
                            <td>350.000</td>
                            <td>01.9.2022</td>
                            <td>01.10.2022</td>
                            <td>
                                <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarCommission"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarCommission"><i class="far fa-trash-alt"></i> Sil</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ActivationModal", new{title = "Araç Komisyonu'nu Aktif Et", body="Araç Komisyonu bilgisini aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("DeleteModal", new{title = "Araç Komisyonu'nu Sil", body="Komisyon bilgisini silmek istediğinize emin misiniz?", id="deleteCarCommission"})
@await Component.InvokeAsync("AddModal", new{ModalID = "add",modalTitle = "Komisyon Bilgisi Ekle", dto = addDto})
@await Component.InvokeAsync("EditModal", new {modalID="editCarCommission", modalTitle="Komisyon Bilgisini Güncelle",dto=editDto})
