@using Entity.DTO.CarDetail
@using Entity.DTO.CarDetailValue
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddCarDetailDTO addCarDetailDTO = new AddCarDetailDTO();

    EditCarDetailDTO editCarDetailDTO = new EditCarDetailDTO();
    editCarDetailDTO.Name = "Test Kategori";

    AddCarDetailValueDTO addCarDetailValueDTO = new AddCarDetailValueDTO();
    addCarDetailValueDTO.Categories = new List<string>(){"Renk","Vites Tipi","Gövde Tipi"};

    EditCarDetailValueDTO editCarDetailValueDTO = new EditCarDetailValueDTO();
    editCarDetailValueDTO.Categories = new List<string>() { "Renk", "Vites Tipi", "Gövde Tipi" };
    editCarDetailValueDTO.Name = "Test Kategori Değeri";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#ccarcd1" aria-expanded="true" aria-controls="ccarcd1" role="button">Araç Detayları</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addCarDetail">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="ccarcd1" class="collapse show p-3" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Araç Detay</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Renk</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetail"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetail"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Motor Yakıt Türü</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetail"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetail"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Vites Türü</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetail"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetail"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Kasa Tipi</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetail"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetail"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button">Araç Detayları Değerleri</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addCarDetailValue">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Araç Detay Değeri</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Siyah</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetailValue"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetailValue"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Beyaz</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetailValue"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetailValue"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Mavi</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetailValue"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetailValue"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Kırmızı</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetailValue"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetailValue"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Gri</td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCarDetailValue"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCarDetailValue"><i class="far fa-trash-alt"></i> Sil</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ActivationModal", new{title = "Araç Detayı Et", body="Araç Detayını hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("ActivationModal", new{title = "Araç Detay Değeri Aktif Et", body="Araç Detay Değerini aktif hale getirmek istediğinize emin misiniz?", id="activation2"})
@await Component.InvokeAsync("DeleteModal", new{title = "Araç Detayını Sil", body="Statüyü silmek istediğinize emin misiniz?", id="deleteCarDetail"})
@await Component.InvokeAsync("DeleteModal", new{title = "Araç Detay Değerini Sil", body="Araç detay değerini silmek istediğinize emin misiniz?", id="deleteCarDetailValue"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addCarDetail",modalTitle = "Yeni Kategori Ekle", dto = addCarDetailDTO})
@await Component.InvokeAsync("AddModal", new{ModalID = "addCarDetailValue",modalTitle = "Yeni Kategori Değeri Ekle", dto = addCarDetailValueDTO})
@await Component.InvokeAsync("EditModal", new {modalID="editCarDetail", modalTitle="Araç Detayını Güncelle",dto=editCarDetailDTO})
@await Component.InvokeAsync("EditModal", new {modalID="editCarDetailValue", modalTitle="Araç Detay Değerini Güncelle",dto=editCarDetailValueDTO})
