@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">Araç Detayları</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addCarDetail">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show p-3" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Araç Detay</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Renk</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetail" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetail" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Motor Yakıt Türü</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetail" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetail" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Vites Türü</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetail" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetail" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Kasa Tipi</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetail" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetail" href="#">Sil</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button">Araç Detayları Değerleri</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addCarDetailValue">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Araç Detayı:</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                                <option value="1" selected>Renk</option>
                                <option value="2">Motor Yakıt Türü</option>
                                <option value="3">Vites Türü</option>
                                <option value="4">Kasa Tipi</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Araç Detay Değeri</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Siyah</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetailValue" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetailValue" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Beyaz</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetailValue" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetailValue" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Mavi</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetailValue" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetailValue" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Kırmızı</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetailValue" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetailValue" href="#">Sil</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Gri</td>
                                <td>
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#editCarDetailValue" href="#">Güncelle</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#deleteCarDetailValue" href="#">Sil</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCarDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Araç Detayını Sil</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">Silmek istediğinize emin misiniz?</div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Sil</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCarDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Araç Detayını Güncelle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Araç Detayı Giriniz:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Kaydet</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCarDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Araç Detayı Ekle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Araç Detayı Giriniz:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Ekle</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCarDetailValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Araç Detay Değerini Sil</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">Silmek istediğinize emin misiniz?</div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Sil</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCarDetailValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Araç Detay Değerini Güncelle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Araç Detay Değeri Giriniz:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Kaydet</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCarDetailValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Araç Detay Değeri Ekle</h5>
                <button class="btn btn-dark btn-circle btn-sm" type="button" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Araç Detay Değeri Giriniz:</label>
                    </div>
                    <input type="text" value="" class="form-control col-md-8" />
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Kapat</button><button class="btn btn-danger" type="button">Ekle</button></div>
        </div>
    </div>
</div>

