@using Entity.DTO.CarModification
@using Entity.DTO.CarModificationComponent
@{
    ViewData["Title"] = "CarModification";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AddCarModificationDTO addCarModificationDTO = new AddCarModificationDTO();
    //addCarModificationDTO.ModificationComponents = new List<string>() { "Rüzgarlık", "Nitro", "Ses sistemi" };

    EditCarModificationDTO editCarModificationDTO = new EditCarModificationDTO();
    //editCarModificationDTO.ModificationComponents = new List<string>() { "Rüzgarlık", "Nitro", "Ses sistemi" };
    editCarModificationDTO.CarPlate = "16 E 555";

    AddCarModificationComponentDTO addCarModificationComponentDTO = new AddCarModificationComponentDTO();

    EditCarModificationComponentDTO editCarModificationComponentDTO = new EditCarModificationComponentDTO();
    editCarModificationComponentDTO.Name = "Ses sistemi";
}

<div class="container-fuild p-5">
    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" role="button">Modifiyeler</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addModif">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse show p-3" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Araç Plakası:</label>
                            </div>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Plaka</th>
                                <th scope="col">Parça</th>
                                <th scope="col">Kaydeden</th>
                                <th scope="col">Kayıt Tarihi</th>
                                <th scope="col">Düzenleyen</th>
                                <th scope="col">Düzenleme Tarihi</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>16 E 16</td>
                                <td>Rüzgarlık</td>
                                <td>Ahmet</td>
                                <td>06.10.2022</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editModif"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteModif">
                                        <i class="far fa-trash-alt"></i>  Sil
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion" class="mb-5">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo" role="button">Modifiye Bileşeni Ekle</a>
                    <button type="button" class="btn btn-outline-success" id="myInput" data-bs-toggle="modal" data-bs-target="#addCmp">
                        <i class="fa fa-plus"></i>
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse show p-3" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="p-3" style="border:2px solid gray; border-radius: .35rem;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Bileşen Adı</th>
                                <th scope="col">Kaydeden</th>
                                <th scope="col">Kayıt Tarihi</th>
                                <th scope="col">Düzenleyen</th>
                                <th scope="col">Düzenleme Tarihi</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rüzgarlık</td>
                                <td>Ahmet</td>
                                <td>05.10.2022</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-warning" id="myInput" data-bs-toggle="modal" data-bs-target="#editCmp">
                                        <i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCmp">
                                        <i class="far fa-trash-alt"></i>  Sil
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Modifiyeyi Sil", body="Modifiyeyi silmek istediğinize emin misiniz?", id="deleteModif"})
@await Component.InvokeAsync("DeleteModal", new{title = "Bileşeni Sil", body="Bileşeni silmek istediğinize emin misiniz?", id="deleteCmp"})
@await Component.InvokeAsync("ActivationModal", new{title = "Modifiye Aktif Et", body="Modifiyeyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
@await Component.InvokeAsync("ActivationModal", new{title = "Modifiye Bileşeni Aktif Et", body="Modifiye Bileşenini aktif hale getirmek istediğinize emin misiniz?", id="activation2"})
@await Component.InvokeAsync("EditModal", new {modalID="editModif", modalTitle="Modifiye Güncelle",dto=editCarModificationDTO})
@await Component.InvokeAsync("EditModal", new {modalID="editCmp", modalTitle="Modifiye Bileşenini Güncelle",dto=editCarModificationComponentDTO})
@await Component.InvokeAsync("AddModal", new{ModalID = "addModif",modalTitle = "Modifiye Ekle", dto = addCarModificationDTO,ActionName="CarModification",ControllerName = "Car"})
@await Component.InvokeAsync("AddModal", new{ModalID = "addCmp",modalTitle = "Bileşen Ekle", dto =addCarModificationComponentDTO})
