@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Car</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <label class="mt-5"><b>Araç Detay Bilgileri</b></label>
        <div class="mt-1 p-4" style="border:2px solid gray;">
            <div class="row">
                <div class="col-md-4">
                    <div class="row align-items-center text-center">
                        <label class="col-md-6">Bireysel/Kurumsal: </label>
                        <select class="form-control col-md-6">
                            <option class="form-control" value="1">Bireysel</option>
                            <option class="form-control" value="2">Kurumsal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center text-center">
                        <label class="col-md-6">Kurumsal Şirket Adı: </label>
                        <select class="form-control col-md-6">
                            <option class="form-control" value="1">Ahmet LTD</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center text-center">
                        <label class="col-md-3">Statü: </label>
                        <select class="form-control col-md-9">
                            <option class="form-control" value="1">Statü 1</option>
                            <option class="form-control" value="2">Statü 2</option>
                            <option class="form-control" value="3">Statü 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center text-center">
                        <label class="col-md-4">Araç Fiyat: </label>
                        <input type="text" value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>
        </div>

        <label class="mt-4"><b>Araç Detay Bilgileri</b></label>
        <div class="mt-1 p-4" style="border:2px solid gray;">
            <div class="row">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Araç Marka: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Araç Model: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Gövde Tipi: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Yıl: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Yakıt Tipi: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Vites Tipi: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Versiyon: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Km Bilgisi: </label>
                        <input type="text" value="" class="form-control col-md-8" />
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Renk: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row align-items-center">
                        <label class="col-md-4">Donanım: </label>
                        <select class="form-control col-md-8">
                            <option class="form-control" value="1">Hüdü</option>
                            <option class="form-control" value="2">Hede</option>
                            <option class="form-control" value="3">Bidi</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label class="mt-4"><b>Foto Ekle</b></label>
                <div class="mt-1 p-4" style="border:2px solid gray; height: 150px; vertical-align:middle; display:flex; align-items:center; justify-content:center;">
                    <div class="row">
                        <div class="col-md-4">
                            <button href="#" class="btn btn-dark btn-lg ml-2"><i class="fa fa-camera"></i></button>
                        </div>
                        <div class="col-md-6">
                            <label>Foto Ekle (JPEG) - 5 Adet</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <label class="mt-4"><b>Açıklama</b></label>
                <div class="mt-1 p-4" style="border:2px solid gray; height: 150px;">
                    <textarea class="form-control" style="resize:none; height: 100%"></textarea>
                </div>
            </div>
        </div>

        <div class="row float-right mb-5">
            <div class="col-md-12 ">
                <button class="btn btn-dark mt-4" type="submit">Hemen Al Satış</button>
                <button class="btn btn-dark mt-4" type="submit">Komisyon</button>
                <button class="btn btn-dark mt-4" type="submit">Alıcı Bilgileri</button>
                <button class="btn btn-dark mt-4" type="submit">Araç Tarihçe</button>
                <button class="btn btn-dark mt-4" type="submit">Hasar Tramer Bilgileri</button>
                <button class="btn btn-dark mt-4" type="submit">İlan Bilgileri</button>
                <button class="btn btn-dark mt-4" type="submit">Kaydet</button>
            </div>
        </div>
    </div>
</body>
</html>

