@{
    ViewData["Title"] = "Araç Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Araç Tanımlama / Listeleme</h1>
    <p class="mb-4">
        Kullanıcıların eklemiş olduğu araçları buradan inceleyip ve düzenleyebilirsiniz.
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Arama Kriterleri</h6>
        </div>
        <div class="card-body">
            <form class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Marka</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Audi</option>
                            <option>BMW</option>
                            <option>Volkswagen</option>
                            <option>Chevrolet</option>
                            <option>Opel</option>
                            <option>Peguot</option>
                            <option>Renault</option>
                            <option>Toyota</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Model</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>A7</option>
                            <option>I5</option>
                            <option>Clio</option>
                            <option>Megane</option>
                            <option>1 Serisi</option>
                            <option>5 Serisi</option>
                            <option>Golf</option>
                            <option>Polo</option>
                            <option>208</option>
                            <option>Auris</option>
                            <option>Corolla</option>
                            <option>Astra</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Bireysel / Kurumsal</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Bireysel</option>
                            <option>Kurumsal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Statü</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Giriş</option>
                            <option>Hemen Al Satışta</option>
                            <option>İhalede</option>
                            <option>Ekspertiz sonucu bekleniyor</option>
                            <option>Satıldı</option>
                            <option>Satış İptal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 col-sm-0"></div>
                <div class="col-md-3 col-sm-12">
                    <button class="btn btn-info btn-block" type="button">Listele</button>

                </div>
            </form>
        </div>
    </div>

    <div class="row mb-4 clearfix">
        <div class="col-md-3 float-right">
            <a class="btn btn-success btn-block " asp-controller="Car" asp-action="Edit">Araç Oluştur</a>
        </div>

    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Araç Listesi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Plaka</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Bireysel/Kurumsal</th>
                            <th>Statü</th>
                            <th>Kaydeden Kullanıcı</th>
                            <th>Kaydetme Zamanı</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>16 E 123</td>
                            <td>Audi</td>
                            <td>A3</td>
                            <td>Bireysel</td>
                            <td>Satışta</td>
                            <td>Burkay A.</td>
                            <td>04.10.2022-22:14</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Car" asp-action="Edit">Güncelle</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCar">
                                    Sil
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>16 E 124</td>
                            <td>Ford</td>
                            <td>Fiesta</td>
                            <td>Bireysel</td>
                            <td>Satıldı</td>
                            <td>Burkay A.</td>
                            <td>04.10.2022-22:14</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Car" asp-action="Edit">Güncelle</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCar">
                                    Sil
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>16 E 125</td>
                            <td>Opel</td>
                            <td>Astra</td>
                            <td>Kurumsal</td>
                            <td>İhalede</td>
                            <td>Burkay A.</td>
                            <td>04.10.2022-22:14</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Car" asp-action="Edit">Güncelle</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCar">
                                    Sil
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>16 E 126</td>
                            <td>Volkswagen</td>
                            <td>Golf</td>
                            <td>Kurumsal</td>
                            <td>Satışta</td>
                            <td>Burkay A.</td>
                            <td>04.10.2022-22:14</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Car" asp-action="Edit">Güncelle</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCar">
                                    Sil
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>16 E 127</td>
                            <td>Volkswagen</td>
                            <td>Golf</td>
                            <td>Kurumsal</td>
                            <td>Satışta</td>
                            <td>Burkay A.</td>
                            <td>04.10.2022-22:14</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Car" asp-action="Edit">Güncelle</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCar">
                                    Sil
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>16 E 128</td>
                            <td>Volkswagen</td>
                            <td>Golf</td>
                            <td>Kurumsal</td>
                            <td>Satışta</td>
                            <td>Burkay A.</td>
                            <td>04.10.2022-22:14</td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Car" asp-action="Edit">Güncelle</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" id="myInput" data-bs-toggle="modal" data-bs-target="#deleteCar">
                                    Sil
                                </button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<div class="modal fade" id="deleteCar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aracı Sil</h5>
                <button type="button" class="btn-close btn-circle btn-sm btn-dark" onclick="$('#deleteCar').modal('hide');" aria-label="Close"><i class="fa-solid fa-x"></i></button>

            </div>
            <div class="modal-body">Aracı silmek istediğinize emin misiniz?</div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button">Sil</button>
            </div>
        </div>
    </div>
</div>

