@using Entity.DTO.Car
@using Entity.DTO.Pagination
@using System.Reflection
@model List<ListCarDTO>

@{
    ViewData["Title"] = "Araç Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> heads = new List<string>();
    List<object> datas = new List<object>();

    foreach (var item in typeof(ListCarDTO).GetProperties())
    {
        heads.Add(item.CustomAttributes.First().ConstructorArguments.First().Value.ToString());
    }

    foreach (var item in Model)
    {
        datas.Add(item);
    }
}
<div class="container-fluid p-5">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Araç Tanımlama / Listeleme</h1>
    <p class="mb-4">
        Kullanıcıların eklemiş olduğu araçları buradan inceleyip ve düzenleyebilirsiniz.
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Arama Kriterleri</h6>
        </div>
        <div class="card-body">
            <form class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Marka</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Audi</option>
                            <option>BMW</option>
                            <option>Volkswagen</option>
                            <option>Chevrolet</option>
                            <option>Opel</option>
                            <option>Peguot</option>
                            <option>Renault</option>
                            <option>Toyota</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Model</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>A7</option>
                            <option>I5</option>
                            <option>Clio</option>
                            <option>Megane</option>
                            <option>1 Serisi</option>
                            <option>5 Serisi</option>
                            <option>Golf</option>
                            <option>Polo</option>
                            <option>208</option>
                            <option>Auris</option>
                            <option>Corolla</option>
                            <option>Astra</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Bireysel / Kurumsal</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Bireysel</option>
                            <option>Kurumsal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Statü</label><select class="form-control" id="exampleFormControlSelect1">
                            <option>Giriş</option>
                            <option>Hemen Al Satışta</option>
                            <option>İhalede</option>
                            <option>Ekspertiz sonucu bekleniyor</option>
                            <option>Satıldı</option>
                            <option>Satış İptal</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9 col-sm-0"></div>
                <div class="col-md-3 col-sm-12">
                    <button class="btn btn-info btn-block" style="background-color: #2E86C1 ;" type="button"><i class="fa-solid fa-list" style="color:white;"></i>  Listele</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mb-4 clearfix">
        <div class="col-md-3 float-right">
            @await Component.InvokeAsync("AddButton", new{IsHref=true,LinkHref="",ControllerName="Car",ActionName="Edit", ButtonName="Araç Oluştur", ModalID=""})
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Araç Listesi</h6>
        </div>
        <div class="card-body">
            @await Component.InvokeAsync("BaseTable",
            new{
            TableID="myTable1",
            EditIsModal = false,
            EditBtnModalID = "",
            EditBtnController="Car",
            EditBtnAction="Edit",
            DeleteBtnModalID="deleteCar",
            TableHeads=heads,
            TableDatas=datas
            })
        </div>
    </div>
</div>

@await Component.InvokeAsync("DeleteModal", new{title = "Aracı Sil", body="Aracı silmek istediğinize emin misiniz?", id="deleteCar"})

@await Component.InvokeAsync("ActivationModal", new{title = "Aracı Aktif Et", body="Aracı aktif hale getirmek istediğinize emin misiniz?", id="activation"})